---
version: 2
interactions:
    - id: 0
      request:
        host: api.notion.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer **************************************************
            Notion-Version:
                - "2022-06-28"
        url: https://api.notion.com/v1/pages/96245c8f-1784-44a4-82ad-1941127c3ec3
        method: GET
      response:
        body: "{\"object\":\"page\",\"id\":\"96245c8f-1784-44a4-82ad-1941127c3ec3\",\"created_time\":\"2022-07-14T05:31:00.000Z\",\"last_edited_time\":\"2025-02-02T19:54:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"cover\":{\"type\":\"external\",\"external\":{\"url\":\"https://www.notion.so/images/page-cover/nasa_space_shuttle_columbia_and_sunrise.jpg\"}},\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F304\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"11f88fcd-daf4-802e-b645-eb2d041a759b\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Example Page\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Example Page\",\"href\":null}]}},\"url\":\"https://www.notion.so/Example-Page-96245c8f178444a482ad1941127c3ec3\",\"public_url\":\"https://fae-tools.notion.site/Example-Page-96245c8f178444a482ad1941127c3ec3\",\"request_id\":\"b0ccfae5-9381-44ff-a0f5-f952f37aa3ad\"}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"43d-Rn6igfj/HAx7oY1L4PnlE8fGxsU"
            X-Notion-Request-Id:
                - b0ccfae5-9381-44ff-a0f5-f952f37aa3ad
        status: 200 OK
        code: 200
        duration: 2.258439084s
    - id: 1
      request:
        host: api.notion.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer **************************************************
            Notion-Version:
                - "2022-06-28"
        url: https://api.notion.com/v1/blocks/96245c8f-1784-44a4-82ad-1941127c3ec3/children?page_size=10
        method: GET
      response:
        body: '{"object":"list","results":[{"object":"block","id":"dad588e3-83ec-430a-bcd3-3cc5dc37d7e9","parent":{"type":"page_id","page_id":"96245c8f-1784-44a4-82ad-1941127c3ec3"},"created_time":"2022-07-14T05:31:00.000Z","last_edited_time":"2022-07-14T05:33:00.000Z","created_by":{"object":"user","id":"af171d5d-c36f-45bc-a0a3-6086c0dafa45"},"last_edited_by":{"object":"user","id":"af171d5d-c36f-45bc-a0a3-6086c0dafa45"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[],"color":"default"}},{"object":"block","id":"8fe3dd1a-c8d8-47ff-b2fb-70b0269c4e9f","parent":{"type":"page_id","page_id":"96245c8f-1784-44a4-82ad-1941127c3ec3"},"created_time":"2022-07-14T05:32:00.000Z","last_edited_time":"2022-07-14T05:33:00.000Z","created_by":{"object":"user","id":"af171d5d-c36f-45bc-a0a3-6086c0dafa45"},"last_edited_by":{"object":"user","id":"af171d5d-c36f-45bc-a0a3-6086c0dafa45"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_tex[...]
[...]
    - id: 3
      request:
        host: api.notion.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer **************************************************
            Notion-Version:
                - "2022-06-28"
        url: https://api.notion.com/v1/blocks/96245c8f-1784-44a4-82ad-1941127c3ec3/children?page_size=10&start_cursor=d05aa478-397e-4954-b694-b7c1c6c78956
        method: GET
      response:
        body: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"d05aa478-397e-4954-b694-b7c1c6c78956\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"96245c8f-1784-44a4-82ad-1941127c3ec3\"},\"created_time\":\"2022-07-14T17:46:00.000Z\",\"last_edited_time\":\"2022-10-08T21:16:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"has_children\":true,\"archived\":false,\"in_trash\":false,\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Medium toggle heading \",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Medium toggle heading \",\"href\":null}],\"is_toggleable\":true,\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"b7950ba9-e8a0-4b2f-a069-5cafcd6ed6ad\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"96245c8f-1784-44a4-82ad-1941127c3ec3\"},\"created_time\":\"2022-07-14T17:46:00.000Z\",\"last_edited_time\":\"2022-10-08T21:16:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"heading_3\",\"heading_3\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Small heading\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Small heading\",\"href\":null}],\"is_toggleable\":false,\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"0377f15d-c60f-4643-87b9-467e4814fe46\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"96245c8f-1784-44a4-82ad-1941127c3ec3\"},\"created_time\":\"2022-07-14T17:49:00.000Z\",\"last_edited_time\":\"2022-10-08T21:16:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"callout\",\"callout\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Callout with a fire emoji.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Callout with a fire emoji.\",\"href\":null}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F525\"},\"color\":\"gray_background\"}},{\"object\":\"block\",\"id\":\"12a1a2cc-9ce7-414e-9fd3-db016419174c\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"[...]
