---
version: 2
interactions:
    - id: 0
      request:
        host: api.notion.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer **************************************************
            Notion-Version:
                - "2022-06-28"
        url: https://api.notion.com/v1/pages/96245c8f-1784-44a4-82ad-1941127c3ec3
        method: GET
      response:
        body: "{\"object\":\"page\",\"id\":\"96245c8f-1784-44a4-82ad-1941127c3ec3\",\"created_time\":\"2022-07-14T05:31:00.000Z\",\"last_edited_time\":\"2025-02-02T19:54:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"cover\":{\"type\":\"external\",\"external\":{\"url\":\"https://www.notion.so/images/page-cover/nasa_space_shuttle_columbia_and_sunrise.jpg\"}},\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F304\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"11f88fcd-daf4-802e-b645-eb2d041a759b\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Example Page\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Example Page\",\"href\":null}]}},\"url\":\"https://www.notion.so/Example-Page-96245c8f178444a482ad1941127c3ec3\",\"public_url\":\"https://fae-tools.notion.site/Example-Page-96245c8f178444a482ad1941127c3ec3\",\"request_id\":\"557903c7-0de2-4f82-8796-0399b2a6970e\"}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"43d-7mGXA9PAZ7p/L97eMbQ0JEufABI"
            X-Notion-Request-Id:
                - 557903c7-0de2-4f82-8796-0399b2a6970e
        status: 200 OK
        code: 200
        duration: 1.248957292s
    - id: 1
      request:
        host: api.notion.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer **************************************************
            Notion-Version:
                - "2022-06-28"
        url: https://api.notion.com/v1/blocks/96245c8f-1784-44a4-82ad-1941127c3ec3/children?page_size=100
        method: GET
      response:
        body: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"dad588e3-83ec-430a-bcd3-3cc5dc37d7e9\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"96245c8f-1784-44a4-82ad-1941127c3ec3\"},\"created_time\":\"2022-07-14T05:31:00.000Z\",\"last_edited_time\":\"2022-07-14T05:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[],\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"8fe3dd1a-c8d8-47ff-b2fb-70b0269c4e9f\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"96245c8f-1784-44a4-82ad-1941127c3ec3\"},\"created_time\":\"2022-07-14T05:32:00.000Z\",\"last_edited_time\":\"2022-07-14T05:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"has_children\":false,\"archived\":false,\"in[...]
    - id: 2
      request:
        host: api.notion.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer **************************************************
            Notion-Version:
                - "2022-06-28"
        url: https://api.notion.com/v1/blocks/96245c8f-1784-44a4-82ad-1941127c3ec3/children
        method: GET
      response:
        body: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"dad588e3-83ec-430a-bcd3[...]
[...]
