---
version: 2
interactions:
    - id: 0
      request:
        host: api.notion.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer **************************************************
            Notion-Version:
                - "2022-06-28"
        url: https://api.notion.com/v1/pages/96245c8f-1784-44a4-82ad-1941127c3ec3
        method: GET
      response:
        body: "{\"object\":\"page\",\"id\":\"96245c8f-1784-44a4-82ad-1941127c3ec3\",\"created_time\":\"2022-07-14T05:31:00.000Z\",\"last_edited_time\":\"2024-10-14T11:26:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"af171d5d-c36f-45bc-a0a3-6086c0dafa45\"},\"cover\":{\"type\":\"external\",\"external\":{\"url\":\"https://www.notion.so/images/page-cover/nasa_space_shuttle_columbia_and_sunrise.jpg\"}},\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F304\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"11f88fcd-daf4-802e-b645-eb2d041a759b\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Example Page\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Example Page\",\"href\":null}]}},\"url\":\"https://www.notion.so/Example-Page-96245c8f178444a482ad1941127c3ec3\",\"public_url\":\"https://fae-tools.notion.site/Example-Page-96245c8f178444a482ad1941127c3ec3\",\"request_id\":\"3620d8d3-11e4-473b-87c9-fddfa7801d6d\"}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"43d-XcxRIigxCG6jCKvGZ0R9FFvo7RM"
            X-Notion-Request-Id:
                - 3620d8d3-11e4-473b-87c9-fddfa7801d6d
        status: 200 OK
        code: 200
        duration: 2.240078666s
