{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API",
    "description": "[Create an integration](https://www.notion.so/my-integrations) to retrieve an API token, add your database and page ID's as variables in the collection, and start making your requests!\n\nFor our full documentation, including sample integrations and guides, visit [developers.notion.com](developers.notion.com)\n\nNeed more help? Join our [developer community on Slack](https://join.slack.com/t/notiondevs/shared_invite/zt-lkrnk74h-YmPRroySRFGiqgjI193AqA/)",
    "version": "2022-06-28"
  },
  "servers": [
    {
      "url": "https://api.notion.com/v1"
    }
  ],
  "paths": {
    "/pages/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Notion-Version"
        },
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Retrieve a Page",
        "description": "Retrieves a Page object using the ID in the request path. This endpoint exposes page properties, not page content.",
        "operationId": "GetPage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PageResponse"
          }
        }
      }
    },
    "/blocks/{id}/children": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Notion-Version"
        },
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Retrieve block children",
        "description": "Returns a paginated array of child [block objects](https://developers.notion.com/reference/block) contained in the block using the ID specified. In order to receive a complete representation of a block, you may need to recursively retrieve the block children of child blocks.",
        "operationId": "GetBlocks",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BlocksResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Annotations": {
        "description": "Style information which applies to the whole rich text object.",
        "type": "object",
        "properties": {
          "bold": {
            "description": "Whether the text is **bolded**.",
            "type": "boolean",
            "example": false
          },
          "italic": {
            "description": "Whether the text is *italicized*.",
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "description": "Whether the text is struck through.",
            "type": "boolean",
            "example": false
          },
          "underline": {
            "description": "Whether the text is underlined.",
            "type": "boolean",
            "example": false
          },
          "code": {
            "description": "Whether the text is code `style`.",
            "type": "boolean",
            "example": false
          },
          "color": {
            "$ref": "#/components/schemas/Color"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "Block": {
        "description": "A block object represents content within Notion. Blocks can be text, lists, media, and more. A page is a type of block, too!\n\nThe optional fields are filled depending on the value of `type`.",
        "type": "object",
        "properties": {
          "object": {
            "description": "Always \"block\".",
            "type": "string",
            "pattern": "^block$",
            "example": "block"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "dad588e3-83ec-430a-bcd3-3cc5dc37d7e9"
          },
          "parent": {
            "$ref": "#/components/schemas/Parent"
          },
          "created_time": {
            "description": "Date and time when this block was created. Formatted as an ISO 8601 date time string.",
            "type": "string",
            "format": "date-time",
            "example": "2022-07-14T05:31:00.000Z"
          },
          "last_edited_time": {
            "description": "Date and time when this block was last updated. Formatted as an ISO 8601 date time string.",
            "type": "string",
            "format": "date-time",
            "example": "2022-07-14T05:33:00.000Z"
          },
          "created_by": {
            "$ref": "#/components/schemas/UserReference2"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/UserReference3"
          },
          "has_children": {
            "type": "boolean",
            "example": false
          },
          "archived": {
            "type": "boolean",
            "example": false
          },
          "in_trash": {
            "type": "boolean",
            "example": false
          },
          "type": {
            "type": "string",
            "example": "paragraph"
          },
          "paragraph": {
            "$ref": "#/components/schemas/BlockParagraph"
          },
          "heading_1": {
            "$ref": "#/components/schemas/BlockHeading1"
          },
          "heading_2": {
            "$ref": "#/components/schemas/BlockHeading2"
          },
          "heading_3": {
            "$ref": "#/components/schemas/BlockHeading3"
          },
          "callout": {
            "$ref": "#/components/schemas/BlockCallout"
          },
          "quote": {
            "$ref": "#/components/schemas/BlockQuote"
          },
          "synced_block": {
            "$ref": "#/components/schemas/BlockSyncedBlock"
          },
          "numbered_list_item": {
            "$ref": "#/components/schemas/BlockNumberedListItem"
          },
          "bulleted_list_item": {
            "$ref": "#/components/schemas/BlockBulletedListItem"
          },
          "to_do": {
            "$ref": "#/components/schemas/BlockToDo"
          },
          "toggle": {
            "$ref": "#/components/schemas/BlockToggle"
          },
          "code": {
            "$ref": "#/components/schemas/BlockCode"
          },
          "child_page": {
            "$ref": "#/components/schemas/BlockChildPage"
          },
          "child_database": {
            "$ref": "#/components/schemas/BlockChildDatabase"
          },
          "embed": {
            "$ref": "#/components/schemas/BlockEmbed"
          },
          "pdf": {
            "$ref": "#/components/schemas/BlockPdf"
          },
          "column_list": {
            "type": "object"
          },
          "video": {
            "$ref": "#/components/schemas/BlockVideo"
          },
          "file": {
            "$ref": "#/components/schemas/BlockFile"
          },
          "bookmark": {
            "$ref": "#/components/schemas/BlockBookmark"
          },
          "equation": {
            "$ref": "#/components/schemas/BlockEquation"
          },
          "divider": {
            "type": "object"
          },
          "table_of_contents": {
            "$ref": "#/components/schemas/BlockTableOfContents"
          },
          "breadcrumb": {
            "type": "object"
          },
          "link_preview": {
            "$ref": "#/components/schemas/BlockLinkPreview"
          },
          "unsupported": {
            "type": "object"
          },
          "link_to_page": {
            "$ref": "#/components/schemas/BlockLinkToPage"
          },
          "table": {
            "$ref": "#/components/schemas/BlockTable"
          },
          "audio": {
            "$ref": "#/components/schemas/BlockAudio"
          }
        },
        "required": [
          "object",
          "id",
          "parent",
          "created_time",
          "last_edited_time",
          "created_by",
          "last_edited_by",
          "has_children",
          "archived",
          "in_trash",
          "type",
          "paragraph"
        ],
        "example": {
          "object": "block",
          "id": "dad588e3-83ec-430a-bcd3-3cc5dc37d7e9",
          "parent": {
            "type": "page_id",
            "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
          },
          "created_time": "2022-07-14T05:31:00.000Z",
          "last_edited_time": "2022-07-14T05:33:00.000Z",
          "created_by": {
            "object": "user",
            "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
          },
          "last_edited_by": {
            "object": "user",
            "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "paragraph": {
            "rich_text": [],
            "color": "default"
          }
        }
      },
      "BlockAudio": {
        "type": "object",
        "properties": {
          "caption": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "type": {
            "type": "string",
            "example": "external"
          },
          "external": {
            "$ref": "#/components/schemas/BlockAudioExternal"
          },
          "file": {
            "$ref": "#/components/schemas/BlockAudioFile"
          }
        },
        "required": [
          "caption",
          "type",
          "external"
        ],
        "example": {
          "caption": [],
          "type": "external",
          "external": {
            "url": "https://upload.wikimedia.org/wikipedia/commons/f/f7/En-us-notion.ogg"
          }
        }
      },
      "BlockAudioExternal": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://upload.wikimedia.org/wikipedia/commons/f/f7/En-us-notion.ogg"
          }
        },
        "required": [
          "url"
        ],
        "example": {
          "url": "https://upload.wikimedia.org/wikipedia/commons/f/f7/En-us-notion.ogg"
        }
      },
      "BlockAudioFile": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://prod-files-secure.s3.us-west-2.amazonaws.com/0bbd5b1f-358c-4cdc-9cb6-ed497d79f10a/9caa2f78-8249-4bfc-97e5-b833a486f487/En-us-notion.ogg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XIAECK6E%2F20250131%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250131T112521Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIQD4UujnejYRkyMDGRuKJbIgo5p1h2yzfv8bb%2BFetXwqqwIgXdwatek%2F8VGbJo48DI2wRajJa6VapXYOw1%2BAXGx%2Fq4gqiAQIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mzc0MjMxODM4MDUiDOcsW2%2BPFn5bTbwpjyrcAxOkcesJhzQt06sOaWRNNrpwpNU5VK9v4YJF1P%2B1yQYTGw0L7WurWmW9Z76FTMmoAtrx4D7aMXBpwhTc%2BSw8iEetOwHs9NS%2F%2BPfnPay8JwYr%2F6Ck86H%2FWWVHEdHOqd0b%2Bi5%2FA8olnEDSgWKvM%2B9R618YTMT9UfSmfufVfN9DXXExMIwaI96W8tL2TFJEfbcXAkTlbPWoK4CFyC7fCi7wum7ixTdWKja%2BNpeuETsKXMMlzFgt0oHhDZpJG7Md869uQIZq%2Fv88G5VMqvlQJMZrFH9RMCqrspRRozS%2Fpd9EMa8JyhTaVV1f2viZ8o1v%2FICgPRbXW0L6B7Ty3BPcDq1Cx%2FrKltMy%2B4XDVrKum663pCaxcwhVE37QO6BFIoub4GuFStUQvATrzaNw0oMcFfVLw9JSpAS8h4B3NrwN%2BqPcUKrAKt8cb3TL8%2BHdSzhpyt3o4G2PXEvk%2FVzcVZTi4BzFnBlC%2BFRTEFnw4zT5N%2BrVmJj3s52bv%2FLFOvRnMyyIHDIqXMdWx9UuG6JNR22sYvN3FfvvLx4eIL33lf2eX1xlRi0ft9mjVMQqsNK%2BkkxiwmJKx04QtQRiC0HB%2F3M8kUrnY9ZpExf%2B9ke%2FFRio7xSwkwKCQI%2B4%2B0iAqMtfxIQiMNrW8rwGOqUBbMh4hPgk22nna%2Bi0YlyK54yZTYRc4k%2FLIAsRBXy%2F5PyOO8TzG3JOxFTsG11OjA6JLidms71TrIU22tv0GO5Qe38qP2DEPhZYUPJb7iwW4HMaOwwOxaeDmXgDoRfCskg93uQB52QNEWnweYkAIYXs5n97H5dM3p35Je3KBiv1PY6H6YjeY6Y%2FvPi%2Fsj6uB8lPCYnDIhptx7BVnxgyiAYknXNiSgUx&X-Amz-Signature=4070868806461cb81dcd1762e8d33576cd31717e6abedec5318e9a1cfb74a4c9&X-Amz-SignedHeaders=host&x-id=GetObject"
          },
          "expiry_time": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-31T12:25:21.557Z"
          }
        },
        "required": [
          "url",
          "expiry_time"
        ],
        "example": {
          "url": "https://prod-files-secure.s3.us-west-2.amazonaws.com/0bbd5b1f-358c-4cdc-9cb6-ed497d79f10a/9caa2f78-8249-4bfc-97e5-b833a486f487/En-us-notion.ogg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XIAECK6E%2F20250131%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250131T112521Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIQD4UujnejYRkyMDGRuKJbIgo5p1h2yzfv8bb%2BFetXwqqwIgXdwatek%2F8VGbJo48DI2wRajJa6VapXYOw1%2BAXGx%2Fq4gqiAQIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mzc0MjMxODM4MDUiDOcsW2%2BPFn5bTbwpjyrcAxOkcesJhzQt06sOaWRNNrpwpNU5VK9v4YJF1P%2B1yQYTGw0L7WurWmW9Z76FTMmoAtrx4D7aMXBpwhTc%2BSw8iEetOwHs9NS%2F%2BPfnPay8JwYr%2F6Ck86H%2FWWVHEdHOqd0b%2Bi5%2FA8olnEDSgWKvM%2B9R618YTMT9UfSmfufVfN9DXXExMIwaI96W8tL2TFJEfbcXAkTlbPWoK4CFyC7fCi7wum7ixTdWKja%2BNpeuETsKXMMlzFgt0oHhDZpJG7Md869uQIZq%2Fv88G5VMqvlQJMZrFH9RMCqrspRRozS%2Fpd9EMa8JyhTaVV1f2viZ8o1v%2FICgPRbXW0L6B7Ty3BPcDq1Cx%2FrKltMy%2B4XDVrKum663pCaxcwhVE37QO6BFIoub4GuFStUQvATrzaNw0oMcFfVLw9JSpAS8h4B3NrwN%2BqPcUKrAKt8cb3TL8%2BHdSzhpyt3o4G2PXEvk%2FVzcVZTi4BzFnBlC%2BFRTEFnw4zT5N%2BrVmJj3s52bv%2FLFOvRnMyyIHDIqXMdWx9UuG6JNR22sYvN3FfvvLx4eIL33lf2eX1xlRi0ft9mjVMQqsNK%2BkkxiwmJKx04QtQRiC0HB%2F3M8kUrnY9ZpExf%2B9ke%2FFRio7xSwkwKCQI%2B4%2B0iAqMtfxIQiMNrW8rwGOqUBbMh4hPgk22nna%2Bi0YlyK54yZTYRc4k%2FLIAsRBXy%2F5PyOO8TzG3JOxFTsG11OjA6JLidms71TrIU22tv0GO5Qe38qP2DEPhZYUPJb7iwW4HMaOwwOxaeDmXgDoRfCskg93uQB52QNEWnweYkAIYXs5n97H5dM3p35Je3KBiv1PY6H6YjeY6Y%2FvPi%2Fsj6uB8lPCYnDIhptx7BVnxgyiAYknXNiSgUx&X-Amz-Signature=4070868806461cb81dcd1762e8d33576cd31717e6abedec5318e9a1cfb74a4c9&X-Amz-SignedHeaders=host&x-id=GetObject",
          "expiry_time": "2025-01-31T12:25:21.557Z"
        }
      },
      "BlockBookmark": {
        "type": "object",
        "properties": {
          "caption": {
            "$ref": "#/components/schemas/BlockBookmarkCaption"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://example.com/"
          }
        },
        "required": [
          "caption",
          "url"
        ],
        "example": {
          "caption": [
            {
              "type": "text",
              "text": {
                "content": "A bookmark object.",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": "A bookmark object.",
              "href": null
            }
          ],
          "url": "https://example.com/"
        }
      },
      "BlockBookmarkCaption": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockBookmarkCaptionItems"
        },
        "example": [
          {
            "type": "text",
            "text": {
              "content": "A bookmark object.",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": "A bookmark object.",
            "href": null
          }
        ]
      },
      "BlockBookmarkCaptionItems": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/BlockBookmarkCaptionItemsText"
          },
          "annotations": {
            "$ref": "#/components/schemas/BlockBookmarkCaptionItemsAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "A bookmark object."
          },
          "href": {
            "type": "object"
          }
        },
        "required": [
          "type",
          "text",
          "annotations",
          "plain_text",
          "href"
        ],
        "example": {
          "type": "text",
          "text": {
            "content": "A bookmark object.",
            "link": null
          },
          "annotations": {
            "bold": false,
            "italic": false,
            "strikethrough": false,
            "underline": false,
            "code": false,
            "color": "default"
          },
          "plain_text": "A bookmark object.",
          "href": null
        }
      },
      "BlockBookmarkCaptionItemsAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "example": false
          },
          "italic": {
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "type": "boolean",
            "example": false
          },
          "underline": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "BlockBookmarkCaptionItemsText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "A bookmark object."
          },
          "link": {
            "type": "object"
          }
        },
        "required": [
          "content",
          "link"
        ],
        "example": {
          "content": "A bookmark object.",
          "link": null
        }
      },
      "BlockBulletedListItem": {
        "type": "object",
        "properties": {
          "rich_text": {
            "$ref": "#/components/schemas/BlockBulletedListItemRichText"
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "rich_text",
          "color"
        ],
        "example": {
          "rich_text": [
            {
              "type": "text",
              "text": {
                "content": "foo",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": "foo",
              "href": null
            }
          ],
          "color": "default"
        }
      },
      "BlockBulletedListItemRichText": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockBulletedListItemRichTextItems"
        },
        "example": [
          {
            "type": "text",
            "text": {
              "content": "foo",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": "foo",
            "href": null
          }
        ]
      },
      "BlockBulletedListItemRichTextItems": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/BlockBulletedListItemRichTextItemsText"
          },
          "annotations": {
            "$ref": "#/components/schemas/BlockBulletedListItemRichTextItemsAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "foo"
          },
          "href": {
            "type": "object"
          }
        },
        "required": [
          "type",
          "text",
          "annotations",
          "plain_text",
          "href"
        ],
        "example": {
          "type": "text",
          "text": {
            "content": "foo",
            "link": null
          },
          "annotations": {
            "bold": false,
            "italic": false,
            "strikethrough": false,
            "underline": false,
            "code": false,
            "color": "default"
          },
          "plain_text": "foo",
          "href": null
        }
      },
      "BlockBulletedListItemRichTextItemsAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "example": false
          },
          "italic": {
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "type": "boolean",
            "example": false
          },
          "underline": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "BlockBulletedListItemRichTextItemsText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "foo"
          },
          "link": {
            "type": "object"
          }
        },
        "required": [
          "content",
          "link"
        ],
        "example": {
          "content": "foo",
          "link": null
        }
      },
      "BlockCallout": {
        "type": "object",
        "properties": {
          "rich_text": {
            "$ref": "#/components/schemas/BlockCalloutRichText"
          },
          "icon": {
            "$ref": "#/components/schemas/BlockCalloutIcon"
          },
          "color": {
            "type": "string",
            "example": "gray_background"
          }
        },
        "required": [
          "rich_text",
          "icon",
          "color"
        ],
        "example": {
          "rich_text": [
            {
              "type": "text",
              "text": {
                "content": "Callout with a fire emoji.",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": "Callout with a fire emoji.",
              "href": null
            }
          ],
          "icon": {
            "type": "emoji",
            "emoji": "🔥"
          },
          "color": "gray_background"
        }
      },
      "BlockCalloutIcon": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "emoji"
          },
          "emoji": {
            "type": "string",
            "example": "🔥"
          },
          "external": {
            "$ref": "#/components/schemas/BlockCalloutIconExternal"
          },
          "file": {
            "$ref": "#/components/schemas/BlockCalloutIconFile"
          }
        },
        "required": [
          "type",
          "emoji"
        ],
        "example": {
          "type": "emoji",
          "emoji": "🔥"
        }
      },
      "BlockCalloutIconExternal": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/325/melting-face_1fae0.png"
          }
        },
        "required": [
          "url"
        ],
        "example": {
          "url": "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/325/melting-face_1fae0.png"
        }
      },
      "BlockCalloutIconFile": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://prod-files-secure.s3.us-west-2.amazonaws.com/0bbd5b1f-358c-4cdc-9cb6-ed497d79f10a/30d8226f-1494-40f3-898c-4683f6e14a38/sparkles_2728.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XIAECK6E%2F20250131%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250131T112521Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIQD4UujnejYRkyMDGRuKJbIgo5p1h2yzfv8bb%2BFetXwqqwIgXdwatek%2F8VGbJo48DI2wRajJa6VapXYOw1%2BAXGx%2Fq4gqiAQIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mzc0MjMxODM4MDUiDOcsW2%2BPFn5bTbwpjyrcAxOkcesJhzQt06sOaWRNNrpwpNU5VK9v4YJF1P%2B1yQYTGw0L7WurWmW9Z76FTMmoAtrx4D7aMXBpwhTc%2BSw8iEetOwHs9NS%2F%2BPfnPay8JwYr%2F6Ck86H%2FWWVHEdHOqd0b%2Bi5%2FA8olnEDSgWKvM%2B9R618YTMT9UfSmfufVfN9DXXExMIwaI96W8tL2TFJEfbcXAkTlbPWoK4CFyC7fCi7wum7ixTdWKja%2BNpeuETsKXMMlzFgt0oHhDZpJG7Md869uQIZq%2Fv88G5VMqvlQJMZrFH9RMCqrspRRozS%2Fpd9EMa8JyhTaVV1f2viZ8o1v%2FICgPRbXW0L6B7Ty3BPcDq1Cx%2FrKltMy%2B4XDVrKum663pCaxcwhVE37QO6BFIoub4GuFStUQvATrzaNw0oMcFfVLw9JSpAS8h4B3NrwN%2BqPcUKrAKt8cb3TL8%2BHdSzhpyt3o4G2PXEvk%2FVzcVZTi4BzFnBlC%2BFRTEFnw4zT5N%2BrVmJj3s52bv%2FLFOvRnMyyIHDIqXMdWx9UuG6JNR22sYvN3FfvvLx4eIL33lf2eX1xlRi0ft9mjVMQqsNK%2BkkxiwmJKx04QtQRiC0HB%2F3M8kUrnY9ZpExf%2B9ke%2FFRio7xSwkwKCQI%2B4%2B0iAqMtfxIQiMNrW8rwGOqUBbMh4hPgk22nna%2Bi0YlyK54yZTYRc4k%2FLIAsRBXy%2F5PyOO8TzG3JOxFTsG11OjA6JLidms71TrIU22tv0GO5Qe38qP2DEPhZYUPJb7iwW4HMaOwwOxaeDmXgDoRfCskg93uQB52QNEWnweYkAIYXs5n97H5dM3p35Je3KBiv1PY6H6YjeY6Y%2FvPi%2Fsj6uB8lPCYnDIhptx7BVnxgyiAYknXNiSgUx&X-Amz-Signature=c8a38195c95c7b79c97792d593c9f2ff52cfd5285ad4ba85c536a29d87ef9a9f&X-Amz-SignedHeaders=host&x-id=GetObject"
          },
          "expiry_time": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-31T12:25:21.225Z"
          }
        },
        "required": [
          "url",
          "expiry_time"
        ],
        "example": {
          "url": "https://prod-files-secure.s3.us-west-2.amazonaws.com/0bbd5b1f-358c-4cdc-9cb6-ed497d79f10a/30d8226f-1494-40f3-898c-4683f6e14a38/sparkles_2728.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XIAECK6E%2F20250131%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250131T112521Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIQD4UujnejYRkyMDGRuKJbIgo5p1h2yzfv8bb%2BFetXwqqwIgXdwatek%2F8VGbJo48DI2wRajJa6VapXYOw1%2BAXGx%2Fq4gqiAQIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mzc0MjMxODM4MDUiDOcsW2%2BPFn5bTbwpjyrcAxOkcesJhzQt06sOaWRNNrpwpNU5VK9v4YJF1P%2B1yQYTGw0L7WurWmW9Z76FTMmoAtrx4D7aMXBpwhTc%2BSw8iEetOwHs9NS%2F%2BPfnPay8JwYr%2F6Ck86H%2FWWVHEdHOqd0b%2Bi5%2FA8olnEDSgWKvM%2B9R618YTMT9UfSmfufVfN9DXXExMIwaI96W8tL2TFJEfbcXAkTlbPWoK4CFyC7fCi7wum7ixTdWKja%2BNpeuETsKXMMlzFgt0oHhDZpJG7Md869uQIZq%2Fv88G5VMqvlQJMZrFH9RMCqrspRRozS%2Fpd9EMa8JyhTaVV1f2viZ8o1v%2FICgPRbXW0L6B7Ty3BPcDq1Cx%2FrKltMy%2B4XDVrKum663pCaxcwhVE37QO6BFIoub4GuFStUQvATrzaNw0oMcFfVLw9JSpAS8h4B3NrwN%2BqPcUKrAKt8cb3TL8%2BHdSzhpyt3o4G2PXEvk%2FVzcVZTi4BzFnBlC%2BFRTEFnw4zT5N%2BrVmJj3s52bv%2FLFOvRnMyyIHDIqXMdWx9UuG6JNR22sYvN3FfvvLx4eIL33lf2eX1xlRi0ft9mjVMQqsNK%2BkkxiwmJKx04QtQRiC0HB%2F3M8kUrnY9ZpExf%2B9ke%2FFRio7xSwkwKCQI%2B4%2B0iAqMtfxIQiMNrW8rwGOqUBbMh4hPgk22nna%2Bi0YlyK54yZTYRc4k%2FLIAsRBXy%2F5PyOO8TzG3JOxFTsG11OjA6JLidms71TrIU22tv0GO5Qe38qP2DEPhZYUPJb7iwW4HMaOwwOxaeDmXgDoRfCskg93uQB52QNEWnweYkAIYXs5n97H5dM3p35Je3KBiv1PY6H6YjeY6Y%2FvPi%2Fsj6uB8lPCYnDIhptx7BVnxgyiAYknXNiSgUx&X-Amz-Signature=c8a38195c95c7b79c97792d593c9f2ff52cfd5285ad4ba85c536a29d87ef9a9f&X-Amz-SignedHeaders=host&x-id=GetObject",
          "expiry_time": "2025-01-31T12:25:21.225Z"
        }
      },
      "BlockCalloutRichText": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockCalloutRichTextItems"
        },
        "example": [
          {
            "type": "text",
            "text": {
              "content": "Callout with a fire emoji.",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": "Callout with a fire emoji.",
            "href": null
          }
        ]
      },
      "BlockCalloutRichTextItems": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/BlockCalloutRichTextItemsText"
          },
          "annotations": {
            "$ref": "#/components/schemas/BlockCalloutRichTextItemsAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "Callout with a fire emoji."
          },
          "href": {
            "type": "object"
          }
        },
        "required": [
          "type",
          "text",
          "annotations",
          "plain_text",
          "href"
        ],
        "example": {
          "type": "text",
          "text": {
            "content": "Callout with a fire emoji.",
            "link": null
          },
          "annotations": {
            "bold": false,
            "italic": false,
            "strikethrough": false,
            "underline": false,
            "code": false,
            "color": "default"
          },
          "plain_text": "Callout with a fire emoji.",
          "href": null
        }
      },
      "BlockCalloutRichTextItemsAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "example": false
          },
          "italic": {
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "type": "boolean",
            "example": false
          },
          "underline": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "BlockCalloutRichTextItemsText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "Callout with a fire emoji."
          },
          "link": {
            "type": "object"
          }
        },
        "required": [
          "content",
          "link"
        ],
        "example": {
          "content": "Callout with a fire emoji.",
          "link": null
        }
      },
      "BlockChildDatabase": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "My Child Database"
          }
        },
        "required": [
          "title"
        ],
        "example": {
          "title": "My Child Database"
        }
      },
      "BlockChildPage": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "My child page"
          }
        },
        "required": [
          "title"
        ],
        "example": {
          "title": "My child page"
        }
      },
      "BlockCode": {
        "type": "object",
        "properties": {
          "caption": {
            "$ref": "#/components/schemas/BlockCodeCaption"
          },
          "rich_text": {
            "$ref": "#/components/schemas/BlockCodeRichText"
          },
          "language": {
            "type": "string",
            "example": "go"
          }
        },
        "required": [
          "caption",
          "rich_text",
          "language"
        ],
        "example": {
          "caption": [
            {
              "type": "text",
              "text": {
                "content": "It even has a caption!",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": "It even has a caption!",
              "href": null
            }
          ],
          "rich_text": [
            {
              "type": "text",
              "text": {
                "content": "func main() {\n\t",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": "func main() {\n\t",
              "href": null
            },
            {
              "type": "text",
              "text": {
                "content": "startNotion",
                "link": {
                  "url": "https://developers.notion.com/reference/block"
                }
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": "startNotion",
              "href": "https://developers.notion.com/reference/block"
            },
            {
              "type": "text",
              "text": {
                "content": "()\n}",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": "()\n}",
              "href": null
            }
          ],
          "language": "go"
        }
      },
      "BlockCodeCaption": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockCodeCaptionItems"
        },
        "example": [
          {
            "type": "text",
            "text": {
              "content": "It even has a caption!",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": "It even has a caption!",
            "href": null
          }
        ]
      },
      "BlockCodeCaptionItems": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/BlockCodeCaptionItemsText"
          },
          "annotations": {
            "$ref": "#/components/schemas/BlockCodeCaptionItemsAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "It even has a caption!"
          },
          "href": {
            "type": "object"
          }
        },
        "required": [
          "type",
          "text",
          "annotations",
          "plain_text",
          "href"
        ],
        "example": {
          "type": "text",
          "text": {
            "content": "It even has a caption!",
            "link": null
          },
          "annotations": {
            "bold": false,
            "italic": false,
            "strikethrough": false,
            "underline": false,
            "code": false,
            "color": "default"
          },
          "plain_text": "It even has a caption!",
          "href": null
        }
      },
      "BlockCodeCaptionItemsAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "example": false
          },
          "italic": {
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "type": "boolean",
            "example": false
          },
          "underline": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "BlockCodeCaptionItemsText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "It even has a caption!"
          },
          "link": {
            "type": "object"
          }
        },
        "required": [
          "content",
          "link"
        ],
        "example": {
          "content": "It even has a caption!",
          "link": null
        }
      },
      "BlockCodeRichText": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockCodeRichTextItems"
        },
        "example": [
          {
            "type": "text",
            "text": {
              "content": "func main() {\n\t",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": "func main() {\n\t",
            "href": null
          },
          {
            "type": "text",
            "text": {
              "content": "startNotion",
              "link": {
                "url": "https://developers.notion.com/reference/block"
              }
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": "startNotion",
            "href": "https://developers.notion.com/reference/block"
          },
          {
            "type": "text",
            "text": {
              "content": "()\n}",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": "()\n}",
            "href": null
          }
        ]
      },
      "BlockCodeRichTextItems": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/BlockCodeRichTextItemsText"
          },
          "annotations": {
            "$ref": "#/components/schemas/BlockCodeRichTextItemsAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "func main() {\n\t"
          },
          "href": {
            "type": "string",
            "format": "uri",
            "example": "https://developers.notion.com/reference/block"
          }
        },
        "required": [
          "type",
          "text",
          "annotations",
          "plain_text",
          "href"
        ],
        "example": {
          "type": "text",
          "text": {
            "content": "func main() {\n\t",
            "link": null
          },
          "annotations": {
            "bold": false,
            "italic": false,
            "strikethrough": false,
            "underline": false,
            "code": false,
            "color": "default"
          },
          "plain_text": "func main() {\n\t",
          "href": null
        }
      },
      "BlockCodeRichTextItemsAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "example": false
          },
          "italic": {
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "type": "boolean",
            "example": false
          },
          "underline": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "BlockCodeRichTextItemsText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "func main() {\n\t"
          },
          "link": {
            "$ref": "#/components/schemas/BlockCodeRichTextItemsTextLink"
          }
        },
        "required": [
          "content",
          "link"
        ],
        "example": {
          "content": "func main() {\n\t",
          "link": null
        }
      },
      "BlockCodeRichTextItemsTextLink": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://developers.notion.com/reference/block"
          }
        }
      },
      "BlockEmbed": {
        "type": "object",
        "properties": {
          "caption": {
            "$ref": "#/components/schemas/BlockEmbedCaption"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://twitter.com/elonmusk/status/1519480761749016577"
          }
        },
        "required": [
          "caption",
          "url"
        ],
        "example": {
          "caption": [],
          "url": "https://twitter.com/elonmusk/status/1519480761749016577"
        }
      },
      "BlockEmbedCaption": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockEmbedCaptionItems"
        }
      },
      "BlockEmbedCaptionItems": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/BlockEmbedCaptionItemsText"
          },
          "annotations": {
            "$ref": "#/components/schemas/BlockEmbedCaptionItemsAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "A "
          },
          "href": {
            "type": "object"
          }
        },
        "example": {
          "type": "text",
          "text": {
            "content": "A ",
            "link": null
          },
          "annotations": {
            "bold": false,
            "italic": false,
            "strikethrough": false,
            "underline": false,
            "code": false,
            "color": "default"
          },
          "plain_text": "A ",
          "href": null
        }
      },
      "BlockEmbedCaptionItemsAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "example": false
          },
          "italic": {
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "type": "boolean",
            "example": false
          },
          "underline": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "BlockEmbedCaptionItemsText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "A "
          },
          "link": {
            "type": "object"
          }
        },
        "required": [
          "content",
          "link"
        ],
        "example": {
          "content": "A ",
          "link": null
        }
      },
      "BlockEquation": {
        "type": "object",
        "properties": {
          "expression": {
            "type": "string",
            "example": "e^{\\pi i}+1 = 0"
          }
        },
        "required": [
          "expression"
        ],
        "example": {
          "expression": "e^{\\pi i}+1 = 0"
        }
      },
      "BlockFile": {
        "type": "object",
        "properties": {
          "caption": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "type": {
            "type": "string",
            "example": "file"
          },
          "file": {
            "$ref": "#/components/schemas/BlockFileFile"
          },
          "name": {
            "type": "string",
            "example": "hd-wallpaper-g6e0a7c1ce_1920.jpeg"
          }
        },
        "required": [
          "caption",
          "type",
          "file",
          "name"
        ],
        "example": {
          "caption": [],
          "type": "file",
          "file": {
            "url": "https://prod-files-secure.s3.us-west-2.amazonaws.com/0bbd5b1f-358c-4cdc-9cb6-ed497d79f10a/5960876f-0eff-473b-9e62-0714480008bd/hd-wallpaper-g6e0a7c1ce_1920.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XIAECK6E%2F20250131%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250131T112521Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIQD4UujnejYRkyMDGRuKJbIgo5p1h2yzfv8bb%2BFetXwqqwIgXdwatek%2F8VGbJo48DI2wRajJa6VapXYOw1%2BAXGx%2Fq4gqiAQIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mzc0MjMxODM4MDUiDOcsW2%2BPFn5bTbwpjyrcAxOkcesJhzQt06sOaWRNNrpwpNU5VK9v4YJF1P%2B1yQYTGw0L7WurWmW9Z76FTMmoAtrx4D7aMXBpwhTc%2BSw8iEetOwHs9NS%2F%2BPfnPay8JwYr%2F6Ck86H%2FWWVHEdHOqd0b%2Bi5%2FA8olnEDSgWKvM%2B9R618YTMT9UfSmfufVfN9DXXExMIwaI96W8tL2TFJEfbcXAkTlbPWoK4CFyC7fCi7wum7ixTdWKja%2BNpeuETsKXMMlzFgt0oHhDZpJG7Md869uQIZq%2Fv88G5VMqvlQJMZrFH9RMCqrspRRozS%2Fpd9EMa8JyhTaVV1f2viZ8o1v%2FICgPRbXW0L6B7Ty3BPcDq1Cx%2FrKltMy%2B4XDVrKum663pCaxcwhVE37QO6BFIoub4GuFStUQvATrzaNw0oMcFfVLw9JSpAS8h4B3NrwN%2BqPcUKrAKt8cb3TL8%2BHdSzhpyt3o4G2PXEvk%2FVzcVZTi4BzFnBlC%2BFRTEFnw4zT5N%2BrVmJj3s52bv%2FLFOvRnMyyIHDIqXMdWx9UuG6JNR22sYvN3FfvvLx4eIL33lf2eX1xlRi0ft9mjVMQqsNK%2BkkxiwmJKx04QtQRiC0HB%2F3M8kUrnY9ZpExf%2B9ke%2FFRio7xSwkwKCQI%2B4%2B0iAqMtfxIQiMNrW8rwGOqUBbMh4hPgk22nna%2Bi0YlyK54yZTYRc4k%2FLIAsRBXy%2F5PyOO8TzG3JOxFTsG11OjA6JLidms71TrIU22tv0GO5Qe38qP2DEPhZYUPJb7iwW4HMaOwwOxaeDmXgDoRfCskg93uQB52QNEWnweYkAIYXs5n97H5dM3p35Je3KBiv1PY6H6YjeY6Y%2FvPi%2Fsj6uB8lPCYnDIhptx7BVnxgyiAYknXNiSgUx&X-Amz-Signature=1d2436a210ef0bea467a9da7f7f3e8194697e3258860fab17334fdd849152520&X-Amz-SignedHeaders=host&x-id=GetObject",
            "expiry_time": "2025-01-31T12:25:21.226Z"
          },
          "name": "hd-wallpaper-g6e0a7c1ce_1920.jpeg"
        }
      },
      "BlockFileFile": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://prod-files-secure.s3.us-west-2.amazonaws.com/0bbd5b1f-358c-4cdc-9cb6-ed497d79f10a/5960876f-0eff-473b-9e62-0714480008bd/hd-wallpaper-g6e0a7c1ce_1920.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XIAECK6E%2F20250131%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250131T112521Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIQD4UujnejYRkyMDGRuKJbIgo5p1h2yzfv8bb%2BFetXwqqwIgXdwatek%2F8VGbJo48DI2wRajJa6VapXYOw1%2BAXGx%2Fq4gqiAQIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mzc0MjMxODM4MDUiDOcsW2%2BPFn5bTbwpjyrcAxOkcesJhzQt06sOaWRNNrpwpNU5VK9v4YJF1P%2B1yQYTGw0L7WurWmW9Z76FTMmoAtrx4D7aMXBpwhTc%2BSw8iEetOwHs9NS%2F%2BPfnPay8JwYr%2F6Ck86H%2FWWVHEdHOqd0b%2Bi5%2FA8olnEDSgWKvM%2B9R618YTMT9UfSmfufVfN9DXXExMIwaI96W8tL2TFJEfbcXAkTlbPWoK4CFyC7fCi7wum7ixTdWKja%2BNpeuETsKXMMlzFgt0oHhDZpJG7Md869uQIZq%2Fv88G5VMqvlQJMZrFH9RMCqrspRRozS%2Fpd9EMa8JyhTaVV1f2viZ8o1v%2FICgPRbXW0L6B7Ty3BPcDq1Cx%2FrKltMy%2B4XDVrKum663pCaxcwhVE37QO6BFIoub4GuFStUQvATrzaNw0oMcFfVLw9JSpAS8h4B3NrwN%2BqPcUKrAKt8cb3TL8%2BHdSzhpyt3o4G2PXEvk%2FVzcVZTi4BzFnBlC%2BFRTEFnw4zT5N%2BrVmJj3s52bv%2FLFOvRnMyyIHDIqXMdWx9UuG6JNR22sYvN3FfvvLx4eIL33lf2eX1xlRi0ft9mjVMQqsNK%2BkkxiwmJKx04QtQRiC0HB%2F3M8kUrnY9ZpExf%2B9ke%2FFRio7xSwkwKCQI%2B4%2B0iAqMtfxIQiMNrW8rwGOqUBbMh4hPgk22nna%2Bi0YlyK54yZTYRc4k%2FLIAsRBXy%2F5PyOO8TzG3JOxFTsG11OjA6JLidms71TrIU22tv0GO5Qe38qP2DEPhZYUPJb7iwW4HMaOwwOxaeDmXgDoRfCskg93uQB52QNEWnweYkAIYXs5n97H5dM3p35Je3KBiv1PY6H6YjeY6Y%2FvPi%2Fsj6uB8lPCYnDIhptx7BVnxgyiAYknXNiSgUx&X-Amz-Signature=1d2436a210ef0bea467a9da7f7f3e8194697e3258860fab17334fdd849152520&X-Amz-SignedHeaders=host&x-id=GetObject"
          },
          "expiry_time": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-31T12:25:21.226Z"
          }
        },
        "required": [
          "url",
          "expiry_time"
        ],
        "example": {
          "url": "https://prod-files-secure.s3.us-west-2.amazonaws.com/0bbd5b1f-358c-4cdc-9cb6-ed497d79f10a/5960876f-0eff-473b-9e62-0714480008bd/hd-wallpaper-g6e0a7c1ce_1920.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XIAECK6E%2F20250131%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250131T112521Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIQD4UujnejYRkyMDGRuKJbIgo5p1h2yzfv8bb%2BFetXwqqwIgXdwatek%2F8VGbJo48DI2wRajJa6VapXYOw1%2BAXGx%2Fq4gqiAQIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mzc0MjMxODM4MDUiDOcsW2%2BPFn5bTbwpjyrcAxOkcesJhzQt06sOaWRNNrpwpNU5VK9v4YJF1P%2B1yQYTGw0L7WurWmW9Z76FTMmoAtrx4D7aMXBpwhTc%2BSw8iEetOwHs9NS%2F%2BPfnPay8JwYr%2F6Ck86H%2FWWVHEdHOqd0b%2Bi5%2FA8olnEDSgWKvM%2B9R618YTMT9UfSmfufVfN9DXXExMIwaI96W8tL2TFJEfbcXAkTlbPWoK4CFyC7fCi7wum7ixTdWKja%2BNpeuETsKXMMlzFgt0oHhDZpJG7Md869uQIZq%2Fv88G5VMqvlQJMZrFH9RMCqrspRRozS%2Fpd9EMa8JyhTaVV1f2viZ8o1v%2FICgPRbXW0L6B7Ty3BPcDq1Cx%2FrKltMy%2B4XDVrKum663pCaxcwhVE37QO6BFIoub4GuFStUQvATrzaNw0oMcFfVLw9JSpAS8h4B3NrwN%2BqPcUKrAKt8cb3TL8%2BHdSzhpyt3o4G2PXEvk%2FVzcVZTi4BzFnBlC%2BFRTEFnw4zT5N%2BrVmJj3s52bv%2FLFOvRnMyyIHDIqXMdWx9UuG6JNR22sYvN3FfvvLx4eIL33lf2eX1xlRi0ft9mjVMQqsNK%2BkkxiwmJKx04QtQRiC0HB%2F3M8kUrnY9ZpExf%2B9ke%2FFRio7xSwkwKCQI%2B4%2B0iAqMtfxIQiMNrW8rwGOqUBbMh4hPgk22nna%2Bi0YlyK54yZTYRc4k%2FLIAsRBXy%2F5PyOO8TzG3JOxFTsG11OjA6JLidms71TrIU22tv0GO5Qe38qP2DEPhZYUPJb7iwW4HMaOwwOxaeDmXgDoRfCskg93uQB52QNEWnweYkAIYXs5n97H5dM3p35Je3KBiv1PY6H6YjeY6Y%2FvPi%2Fsj6uB8lPCYnDIhptx7BVnxgyiAYknXNiSgUx&X-Amz-Signature=1d2436a210ef0bea467a9da7f7f3e8194697e3258860fab17334fdd849152520&X-Amz-SignedHeaders=host&x-id=GetObject",
          "expiry_time": "2025-01-31T12:25:21.226Z"
        }
      },
      "BlockHeading1": {
        "type": "object",
        "properties": {
          "rich_text": {
            "$ref": "#/components/schemas/BlockHeading1RichText"
          },
          "is_toggleable": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "rich_text",
          "is_toggleable",
          "color"
        ],
        "example": {
          "rich_text": [
            {
              "type": "text",
              "text": {
                "content": "This ",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": "This ",
              "href": null
            },
            {
              "type": "text",
              "text": {
                "content": "is",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": true,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "purple"
              },
              "plain_text": "is",
              "href": null
            },
            {
              "type": "text",
              "text": {
                "content": " a big ",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "purple"
              },
              "plain_text": " a big ",
              "href": null
            },
            {
              "type": "text",
              "text": {
                "content": "heading",
                "link": null
              },
              "annotations": {
                "bold": true,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "purple"
              },
              "plain_text": "heading",
              "href": null
            },
            {
              "type": "text",
              "text": {
                "content": " 1",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": " 1",
              "href": null
            }
          ],
          "is_toggleable": false,
          "color": "default"
        }
      },
      "BlockHeading1RichText": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockHeading1RichTextItems"
        },
        "example": [
          {
            "type": "text",
            "text": {
              "content": "This ",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": "This ",
            "href": null
          },
          {
            "type": "text",
            "text": {
              "content": "is",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": true,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "purple"
            },
            "plain_text": "is",
            "href": null
          },
          {
            "type": "text",
            "text": {
              "content": " a big ",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "purple"
            },
            "plain_text": " a big ",
            "href": null
          },
          {
            "type": "text",
            "text": {
              "content": "heading",
              "link": null
            },
            "annotations": {
              "bold": true,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "purple"
            },
            "plain_text": "heading",
            "href": null
          },
          {
            "type": "text",
            "text": {
              "content": " 1",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": " 1",
            "href": null
          }
        ]
      },
      "BlockHeading1RichTextItems": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/BlockHeading1RichTextItemsText"
          },
          "annotations": {
            "$ref": "#/components/schemas/BlockHeading1RichTextItemsAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "This "
          },
          "href": {
            "type": "object"
          }
        },
        "required": [
          "type",
          "text",
          "annotations",
          "plain_text",
          "href"
        ],
        "example": {
          "type": "text",
          "text": {
            "content": "This ",
            "link": null
          },
          "annotations": {
            "bold": false,
            "italic": false,
            "strikethrough": false,
            "underline": false,
            "code": false,
            "color": "default"
          },
          "plain_text": "This ",
          "href": null
        }
      },
      "BlockHeading1RichTextItemsAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "example": false
          },
          "italic": {
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "type": "boolean",
            "example": false
          },
          "underline": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "BlockHeading1RichTextItemsText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "This "
          },
          "link": {
            "type": "object"
          }
        },
        "required": [
          "content",
          "link"
        ],
        "example": {
          "content": "This ",
          "link": null
        }
      },
      "BlockHeading2": {
        "type": "object",
        "properties": {
          "rich_text": {
            "$ref": "#/components/schemas/BlockHeading2RichText"
          },
          "is_toggleable": {
            "type": "boolean",
            "example": true
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "rich_text",
          "is_toggleable",
          "color"
        ],
        "example": {
          "rich_text": [
            {
              "type": "text",
              "text": {
                "content": "Medium toggle heading ",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": "Medium toggle heading ",
              "href": null
            }
          ],
          "is_toggleable": true,
          "color": "default"
        }
      },
      "BlockHeading2RichText": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockHeading2RichTextItems"
        },
        "example": [
          {
            "type": "text",
            "text": {
              "content": "Medium toggle heading ",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": "Medium toggle heading ",
            "href": null
          }
        ]
      },
      "BlockHeading2RichTextItems": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/BlockHeading2RichTextItemsText"
          },
          "annotations": {
            "$ref": "#/components/schemas/BlockHeading2RichTextItemsAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "Medium toggle heading "
          },
          "href": {
            "type": "object"
          }
        },
        "required": [
          "type",
          "text",
          "annotations",
          "plain_text",
          "href"
        ],
        "example": {
          "type": "text",
          "text": {
            "content": "Medium toggle heading ",
            "link": null
          },
          "annotations": {
            "bold": false,
            "italic": false,
            "strikethrough": false,
            "underline": false,
            "code": false,
            "color": "default"
          },
          "plain_text": "Medium toggle heading ",
          "href": null
        }
      },
      "BlockHeading2RichTextItemsAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "example": false
          },
          "italic": {
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "type": "boolean",
            "example": false
          },
          "underline": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "BlockHeading2RichTextItemsText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "Medium toggle heading "
          },
          "link": {
            "type": "object"
          }
        },
        "required": [
          "content",
          "link"
        ],
        "example": {
          "content": "Medium toggle heading ",
          "link": null
        }
      },
      "BlockHeading3": {
        "type": "object",
        "properties": {
          "rich_text": {
            "$ref": "#/components/schemas/BlockHeading3RichText"
          },
          "is_toggleable": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "rich_text",
          "is_toggleable",
          "color"
        ],
        "example": {
          "rich_text": [
            {
              "type": "text",
              "text": {
                "content": "Small heading",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": "Small heading",
              "href": null
            }
          ],
          "is_toggleable": false,
          "color": "default"
        }
      },
      "BlockHeading3RichText": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockHeading3RichTextItems"
        },
        "example": [
          {
            "type": "text",
            "text": {
              "content": "Small heading",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": "Small heading",
            "href": null
          }
        ]
      },
      "BlockHeading3RichTextItems": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/BlockHeading3RichTextItemsText"
          },
          "annotations": {
            "$ref": "#/components/schemas/BlockHeading3RichTextItemsAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "Small heading"
          },
          "href": {
            "type": "object"
          }
        },
        "required": [
          "type",
          "text",
          "annotations",
          "plain_text",
          "href"
        ],
        "example": {
          "type": "text",
          "text": {
            "content": "Small heading",
            "link": null
          },
          "annotations": {
            "bold": false,
            "italic": false,
            "strikethrough": false,
            "underline": false,
            "code": false,
            "color": "default"
          },
          "plain_text": "Small heading",
          "href": null
        }
      },
      "BlockHeading3RichTextItemsAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "example": false
          },
          "italic": {
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "type": "boolean",
            "example": false
          },
          "underline": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "BlockHeading3RichTextItemsText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "Small heading"
          },
          "link": {
            "type": "object"
          }
        },
        "required": [
          "content",
          "link"
        ],
        "example": {
          "content": "Small heading",
          "link": null
        }
      },
      "BlockLinkPreview": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/faetools/go-notion"
          }
        },
        "required": [
          "url"
        ],
        "example": {
          "url": "https://github.com/faetools/go-notion"
        }
      },
      "BlockLinkToPage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "page_id"
          },
          "page_id": {
            "type": "string",
            "format": "uuid",
            "example": "96245c8f-1784-44a4-82ad-1941127c3ec3"
          }
        },
        "required": [
          "type",
          "page_id"
        ],
        "example": {
          "type": "page_id",
          "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
        }
      },
      "BlockNumberedListItem": {
        "type": "object",
        "properties": {
          "rich_text": {
            "$ref": "#/components/schemas/BlockNumberedListItemRichText"
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "rich_text",
          "color"
        ],
        "example": {
          "rich_text": [
            {
              "type": "text",
              "text": {
                "content": "Collect underpants.",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": "Collect underpants.",
              "href": null
            }
          ],
          "color": "default"
        }
      },
      "BlockNumberedListItemRichText": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockNumberedListItemRichTextItems"
        },
        "example": [
          {
            "type": "text",
            "text": {
              "content": "Collect underpants.",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": "Collect underpants.",
            "href": null
          }
        ]
      },
      "BlockNumberedListItemRichTextItems": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/BlockNumberedListItemRichTextItemsText"
          },
          "annotations": {
            "$ref": "#/components/schemas/BlockNumberedListItemRichTextItemsAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "Collect underpants."
          },
          "href": {
            "type": "object"
          }
        },
        "required": [
          "type",
          "text",
          "annotations",
          "plain_text",
          "href"
        ],
        "example": {
          "type": "text",
          "text": {
            "content": "Collect underpants.",
            "link": null
          },
          "annotations": {
            "bold": false,
            "italic": false,
            "strikethrough": false,
            "underline": false,
            "code": false,
            "color": "default"
          },
          "plain_text": "Collect underpants.",
          "href": null
        }
      },
      "BlockNumberedListItemRichTextItemsAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "example": false
          },
          "italic": {
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "type": "boolean",
            "example": false
          },
          "underline": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "BlockNumberedListItemRichTextItemsText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "Collect underpants."
          },
          "link": {
            "type": "object"
          }
        },
        "required": [
          "content",
          "link"
        ],
        "example": {
          "content": "Collect underpants.",
          "link": null
        }
      },
      "BlockParagraph": {
        "type": "object",
        "properties": {
          "rich_text": {
            "$ref": "#/components/schemas/BlockParagraphRichText"
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "rich_text",
          "color"
        ],
        "example": {
          "rich_text": [],
          "color": "default"
        }
      },
      "BlockParagraphRichText": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockParagraphRichTextItems"
        }
      },
      "BlockParagraphRichTextItems": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/BlockParagraphRichTextItemsText"
          },
          "annotations": {
            "$ref": "#/components/schemas/BlockParagraphRichTextItemsAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "This is a simple paragraph."
          },
          "href": {
            "type": "string",
            "format": "uri",
            "example": "https://www.google.com/"
          },
          "mention": {
            "$ref": "#/components/schemas/BlockParagraphRichTextItemsMention"
          },
          "equation": {
            "$ref": "#/components/schemas/BlockParagraphRichTextItemsEquation"
          }
        },
        "example": {
          "type": "text",
          "text": {
            "content": "This is a simple paragraph.",
            "link": null
          },
          "annotations": {
            "bold": false,
            "italic": false,
            "strikethrough": false,
            "underline": false,
            "code": false,
            "color": "default"
          },
          "plain_text": "This is a simple paragraph.",
          "href": null
        }
      },
      "BlockParagraphRichTextItemsAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "example": false
          },
          "italic": {
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "type": "boolean",
            "example": false
          },
          "underline": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "BlockParagraphRichTextItemsEquation": {
        "type": "object",
        "properties": {
          "expression": {
            "type": "string",
            "example": "e^{\\pi i}+1=0"
          }
        },
        "required": [
          "expression"
        ],
        "example": {
          "expression": "e^{\\pi i}+1=0"
        }
      },
      "BlockParagraphRichTextItemsMention": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "link_mention"
          },
          "link_mention": {
            "$ref": "#/components/schemas/BlockParagraphRichTextItemsMentionLinkMention"
          },
          "database": {
            "$ref": "#/components/schemas/BlockParagraphRichTextItemsMentionDatabase"
          },
          "user": {
            "$ref": "#/components/schemas/BlockParagraphRichTextItemsMentionUser"
          },
          "date": {
            "$ref": "#/components/schemas/BlockParagraphRichTextItemsMentionDate"
          },
          "page": {
            "$ref": "#/components/schemas/BlockParagraphRichTextItemsMentionPage"
          }
        },
        "required": [
          "type",
          "link_mention"
        ],
        "example": {
          "type": "link_mention",
          "link_mention": {
            "href": "https://example.com/",
            "title": "Example Domain",
            "description": "This domain is for use in illustrative examples in documents. You may use this\n    domain in literature without prior coordination or asking for permission."
          }
        }
      },
      "BlockParagraphRichTextItemsMentionDatabase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "7a3c647e-4c1e-4c27-bf1d-cfb0105e55ce"
          }
        },
        "required": [
          "id"
        ],
        "example": {
          "id": "7a3c647e-4c1e-4c27-bf1d-cfb0105e55ce"
        }
      },
      "BlockParagraphRichTextItemsMentionDate": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "example": "2022-07-14"
          },
          "end": {
            "type": "object"
          },
          "time_zone": {
            "type": "object"
          }
        },
        "required": [
          "start",
          "end",
          "time_zone"
        ],
        "example": {
          "start": "2022-07-14",
          "end": null,
          "time_zone": null
        }
      },
      "BlockParagraphRichTextItemsMentionLinkMention": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "format": "uri",
            "example": "https://example.com/"
          },
          "title": {
            "type": "string",
            "example": "Example Domain"
          },
          "description": {
            "type": "string",
            "example": "This domain is for use in illustrative examples in documents. You may use this\n    domain in literature without prior coordination or asking for permission."
          }
        },
        "required": [
          "href",
          "title",
          "description"
        ],
        "example": {
          "href": "https://example.com/",
          "title": "Example Domain",
          "description": "This domain is for use in illustrative examples in documents. You may use this\n    domain in literature without prior coordination or asking for permission."
        }
      },
      "BlockParagraphRichTextItemsMentionPage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "2633808e-7e36-4f4e-972a-ccd2d3c49004"
          }
        },
        "required": [
          "id"
        ],
        "example": {
          "id": "2633808e-7e36-4f4e-972a-ccd2d3c49004"
        }
      },
      "BlockParagraphRichTextItemsMentionUser": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "user"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
          },
          "name": {
            "type": "string",
            "example": "Fae Tools"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "example": "https://lh3.googleusercontent.com/a-/AOh14Gi54BUKkLrZ2IX8ORURI__6avK9zjCYXdhbmthj=s100"
          },
          "type": {
            "type": "string",
            "example": "person"
          },
          "person": {
            "$ref": "#/components/schemas/BlockParagraphRichTextItemsMentionUserPerson"
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "avatar_url",
          "type",
          "person"
        ],
        "example": {
          "object": "user",
          "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45",
          "name": "Fae Tools",
          "avatar_url": "https://lh3.googleusercontent.com/a-/AOh14Gi54BUKkLrZ2IX8ORURI__6avK9zjCYXdhbmthj=s100",
          "type": "person",
          "person": {
            "email": "mark@faetools.com"
          }
        }
      },
      "BlockParagraphRichTextItemsMentionUserPerson": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "mark@faetools.com"
          }
        },
        "required": [
          "email"
        ],
        "example": {
          "email": "mark@faetools.com"
        }
      },
      "BlockParagraphRichTextItemsText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "This is a simple paragraph."
          },
          "link": {
            "$ref": "#/components/schemas/BlockParagraphRichTextItemsTextLink"
          }
        },
        "required": [
          "content",
          "link"
        ],
        "example": {
          "content": "This is a simple paragraph.",
          "link": null
        }
      },
      "BlockParagraphRichTextItemsTextLink": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://www.google.com/"
          }
        }
      },
      "BlockPdf": {
        "type": "object",
        "properties": {
          "caption": {
            "$ref": "#/components/schemas/BlockPdfCaption"
          },
          "type": {
            "type": "string",
            "example": "external"
          },
          "external": {
            "$ref": "#/components/schemas/BlockPdfExternal"
          },
          "file": {
            "$ref": "#/components/schemas/BlockPdfFile"
          }
        },
        "required": [
          "caption",
          "type",
          "external"
        ],
        "example": {
          "caption": [
            {
              "type": "text",
              "text": {
                "content": "This is the whitepaper introducing ",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": "This is the whitepaper introducing ",
              "href": null
            },
            {
              "type": "text",
              "text": {
                "content": "bitcoin",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "yellow"
              },
              "plain_text": "bitcoin",
              "href": null
            },
            {
              "type": "text",
              "text": {
                "content": ".",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": ".",
              "href": null
            }
          ],
          "type": "external",
          "external": {
            "url": "https://bitcoin.org/bitcoin.pdf"
          }
        }
      },
      "BlockPdfCaption": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockPdfCaptionItems"
        },
        "example": [
          {
            "type": "text",
            "text": {
              "content": "This is the whitepaper introducing ",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": "This is the whitepaper introducing ",
            "href": null
          },
          {
            "type": "text",
            "text": {
              "content": "bitcoin",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "yellow"
            },
            "plain_text": "bitcoin",
            "href": null
          },
          {
            "type": "text",
            "text": {
              "content": ".",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": ".",
            "href": null
          }
        ]
      },
      "BlockPdfCaptionItems": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/BlockPdfCaptionItemsText"
          },
          "annotations": {
            "$ref": "#/components/schemas/BlockPdfCaptionItemsAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "This is the whitepaper introducing "
          },
          "href": {
            "type": "object"
          }
        },
        "required": [
          "type",
          "text",
          "annotations",
          "plain_text",
          "href"
        ],
        "example": {
          "type": "text",
          "text": {
            "content": "This is the whitepaper introducing ",
            "link": null
          },
          "annotations": {
            "bold": false,
            "italic": false,
            "strikethrough": false,
            "underline": false,
            "code": false,
            "color": "default"
          },
          "plain_text": "This is the whitepaper introducing ",
          "href": null
        }
      },
      "BlockPdfCaptionItemsAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "example": false
          },
          "italic": {
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "type": "boolean",
            "example": false
          },
          "underline": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "boolean",
            "example": false
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "BlockPdfCaptionItemsText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "This is the whitepaper introducing "
          },
          "link": {
            "type": "object"
          }
        },
        "required": [
          "content",
          "link"
        ],
        "example": {
          "content": "This is the whitepaper introducing ",
          "link": null
        }
      },
      "BlockPdfExternal": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://bitcoin.org/bitcoin.pdf"
          }
        },
        "required": [
          "url"
        ],
        "example": {
          "url": "https://bitcoin.org/bitcoin.pdf"
        }
      },
      "BlockPdfFile": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://prod-files-secure.s3.us-west-2.amazonaws.com/0bbd5b1f-358c-4cdc-9cb6-ed497d79f10a/69893027-1bf7-4177-a7b8-06a53dc4d1a6/bitcoin.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XIAECK6E%2F20250131%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250131T112521Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIQD4UujnejYRkyMDGRuKJbIgo5p1h2yzfv8bb%2BFetXwqqwIgXdwatek%2F8VGbJo48DI2wRajJa6VapXYOw1%2BAXGx%2Fq4gqiAQIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mzc0MjMxODM4MDUiDOcsW2%2BPFn5bTbwpjyrcAxOkcesJhzQt06sOaWRNNrpwpNU5VK9v4YJF1P%2B1yQYTGw0L7WurWmW9Z76FTMmoAtrx4D7aMXBpwhTc%2BSw8iEetOwHs9NS%2F%2BPfnPay8JwYr%2F6Ck86H%2FWWVHEdHOqd0b%2Bi5%2FA8olnEDSgWKvM%2B9R618YTMT9UfSmfufVfN9DXXExMIwaI96W8tL2TFJEfbcXAkTlbPWoK4CFyC7fCi7wum7ixTdWKja%2BNpeuETsKXMMlzFgt0oHhDZpJG7Md869uQIZq%2Fv88G5VMqvlQJMZrFH9RMCqrspRRozS%2Fpd9EMa8JyhTaVV1f2viZ8o1v%2FICgPRbXW0L6B7Ty3BPcDq1Cx%2FrKltMy%2B4XDVrKum663pCaxcwhVE37QO6BFIoub4GuFStUQvATrzaNw0oMcFfVLw9JSpAS8h4B3NrwN%2BqPcUKrAKt8cb3TL8%2BHdSzhpyt3o4G2PXEvk%2FVzcVZTi4BzFnBlC%2BFRTEFnw4zT5N%2BrVmJj3s52bv%2FLFOvRnMyyIHDIqXMdWx9UuG6JNR22sYvN3FfvvLx4eIL33lf2eX1xlRi0ft9mjVMQqsNK%2BkkxiwmJKx04QtQRiC0HB%2F3M8kUrnY9ZpExf%2B9ke%2FFRio7xSwkwKCQI%2B4%2B0iAqMtfxIQiMNrW8rwGOqUBbMh4hPgk22nna%2Bi0YlyK54yZTYRc4k%2FLIAsRBXy%2F5PyOO8TzG3JOxFTsG11OjA6JLidms71TrIU22tv0GO5Qe38qP2DEPhZYUPJb7iwW4HMaOwwOxaeDmXgDoRfCskg93uQB52QNEWnweYkAIYXs5n97H5dM3p35Je3KBiv1PY6H6YjeY6Y%2FvPi%2Fsj6uB8lPCYnDIhptx7BVnxgyiAYknXNiSgUx&X-Amz-Signature=5afedf0cffcd6f4a6e827b84330d8bc0cd4b98bd2befa4917197ca2943cbc57d&X-Amz-SignedHeaders=host&x-id=GetObject"
          },
          "expiry_time": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-31T12:25:21.208Z"
          }
        },
        "required": [
          "url",
          "expiry_time"
        ],
        "example": {
          "url": "https://prod-files-secure.s3.us-west-2.amazonaws.com/0bbd5b1f-358c-4cdc-9cb6-ed497d79f10a/69893027-1bf7-4177-a7b8-06a53dc4d1a6/bitcoin.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XIAECK6E%2F20250131%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250131T112521Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIQD4UujnejYRkyMDGRuKJbIgo5p1h2yzfv8bb%2BFetXwqqwIgXdwatek%2F8VGbJo48DI2wRajJa6VapXYOw1%2BAXGx%2Fq4gqiAQIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mzc0MjMxODM4MDUiDOcsW2%2BPFn5bTbwpjyrcAxOkcesJhzQt06sOaWRNNrpwpNU5VK9v4YJF1P%2B1yQYTGw0L7WurWmW9Z76FTMmoAtrx4D7aMXBpwhTc%2BSw8iEetOwHs9NS%2F%2BPfnPay8JwYr%2F6Ck86H%2FWWVHEdHOqd0b%2Bi5%2FA8olnEDSgWKvM%2B9R618YTMT9UfSmfufVfN9DXXExMIwaI96W8tL2TFJEfbcXAkTlbPWoK4CFyC7fCi7wum7ixTdWKja%2BNpeuETsKXMMlzFgt0oHhDZpJG7Md869uQIZq%2Fv88G5VMqvlQJMZrFH9RMCqrspRRozS%2Fpd9EMa8JyhTaVV1f2viZ8o1v%2FICgPRbXW0L6B7Ty3BPcDq1Cx%2FrKltMy%2B4XDVrKum663pCaxcwhVE37QO6BFIoub4GuFStUQvATrzaNw0oMcFfVLw9JSpAS8h4B3NrwN%2BqPcUKrAKt8cb3TL8%2BHdSzhpyt3o4G2PXEvk%2FVzcVZTi4BzFnBlC%2BFRTEFnw4zT5N%2BrVmJj3s52bv%2FLFOvRnMyyIHDIqXMdWx9UuG6JNR22sYvN3FfvvLx4eIL33lf2eX1xlRi0ft9mjVMQqsNK%2BkkxiwmJKx04QtQRiC0HB%2F3M8kUrnY9ZpExf%2B9ke%2FFRio7xSwkwKCQI%2B4%2B0iAqMtfxIQiMNrW8rwGOqUBbMh4hPgk22nna%2Bi0YlyK54yZTYRc4k%2FLIAsRBXy%2F5PyOO8TzG3JOxFTsG11OjA6JLidms71TrIU22tv0GO5Qe38qP2DEPhZYUPJb7iwW4HMaOwwOxaeDmXgDoRfCskg93uQB52QNEWnweYkAIYXs5n97H5dM3p35Je3KBiv1PY6H6YjeY6Y%2FvPi%2Fsj6uB8lPCYnDIhptx7BVnxgyiAYknXNiSgUx&X-Amz-Signature=5afedf0cffcd6f4a6e827b84330d8bc0cd4b98bd2befa4917197ca2943cbc57d&X-Amz-SignedHeaders=host&x-id=GetObject",
          "expiry_time": "2025-01-31T12:25:21.208Z"
        }
      },
      "BlockQuote": {
        "type": "object",
        "properties": {
          "rich_text": {
            "$ref": "#/components/schemas/BlockQuoteRichText"
          },
          "color": {
            "type": "string",
            "example": "green"
          }
        },
        "required": [
          "rich_text",
          "color"
        ],
        "example": {
          "rich_text": [
            {
              "type": "text",
              "text": {
                "content": " “The problem with ",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": " “The problem with ",
              "href": null
            },
            {
              "type": "text",
              "text": {
                "content": "internet",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": true,
                "color": "default"
              },
              "plain_text": "internet",
              "href": null
            },
            {
              "type": "text",
              "text": {
                "content": " quotes is that you cannot always depend on their accuracy.” — Abraham Lincoln, 1864",
                "link": null
              },
              "annotations": {
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "code": false,
                "color": "default"
              },
              "plain_text": " quotes is that you cannot always depend on their accuracy.” — Abraham Lincoln, 1864",
              "href": null
            }
          ],
          "color": "green"
        }
      },
      "BlockQuoteRichText": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockQuoteRichTextItems"
        },
        "example": [
          {
            "type": "text",
            "text": {
              "content": " “The problem with ",
              "link": null
            },
            "annotations": {
              "bold": false,
              "italic": false,
              "strikethrough": false,
              "underline": false,
              "code": false,
              "color": "default"
            },
            "plain_text": " “The problem with ",
            "href": null
          },
          {
            "type": "text",
            "text": {
[...]
