{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API",
    "termsOfService": "https://notion.notion.site/Terms-and-Privacy-28ffdd083dc3473e9c2da6ec011b58ac",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.notion.com"
    }
  ],
  "paths": {
    "/v1/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Retrieve your token's bot user",
        "operationId": "get-self",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userObjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_400"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_401"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_403"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_404"
                }
              }
            }
          },
          "406": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_406"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_409"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_429"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_500"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_503"
                }
              }
            }
          },
          "504": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_504"
                }
              }
            }
          },
          "529": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_529"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.users.me()"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/get-self",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/get-started/overview"
        ]
      }
    },
    "/v1/users/{user_id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Retrieve a user",
        "operationId": "get-user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "The ID of the user or bot to retrieve.",
              "$ref": "#/components/schemas/idRequest"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userObjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_400"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_401"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_403"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_404"
                }
              }
            }
          },
          "406": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_406"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_409"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_429"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_500"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_503"
                }
              }
            }
          },
          "504": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_504"
                }
              }
            }
          },
          "529": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_529"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.users.retrieve({\n  user_id: \"e79a0b74-3aba-4149-9f74-0bb5791a6ee6\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/get-user",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/get-started/overview"
        ]
      }
    },
    "/v1/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List all users",
        "operationId": "get-users",
        "parameters": [
          {
            "name": "start_cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "User",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "user"
                    },
                    "user": {
                      "$ref": "#/components/schemas/emptyObject"
                    },
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/userObjectResponse"
                      }
                    }
                  },
                  "required": [
                    "type",
                    "user",
                    "object",
                    "next_cursor",
                    "has_more",
                    "results"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_400"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_401"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_403"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_404"
                }
              }
            }
          },
          "406": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_406"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_409"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_429"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_500"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_503"
                }
              }
            }
          },
          "504": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_504"
                }
              }
            }
          },
          "529": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_529"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.users.list({\n  start_cursor: undefined,\n  page_size: 10\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/get-users",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/get-started/overview"
        ]
      }
    },
    "/v1/pages": {
      "post": {
        "tags": [
          "Pages"
        ],
        "summary": "Create a page",
        "operationId": "post-page",
        "parameters": [
          {
            "name": "filter_properties",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parent": {
                    "anyOf": [
                      {
                        "title": "Page Id",
                        "type": "object",
                        "properties": {
                          "page_id": {
                            "$ref": "#/components/schemas/idRequest"
                          },
                          "type": {
                            "type": "string",
                            "const": "page_id"
                          }
                        },
                        "required": [
                          "page_id"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "title": "Database Id",
                        "type": "object",
                        "properties": {
                          "database_id": {
                            "$ref": "#/components/schemas/idRequest"
                          },
                          "type": {
                            "type": "string",
                            "const": "database_id"
                          }
                        },
                        "required": [
                          "database_id"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "title": "Data Source Id",
                        "type": "object",
                        "properties": {
                          "data_source_id": {
                            "$ref": "#/components/schemas/idRequest"
                          },
                          "type": {
                            "type": "string",
                            "const": "data_source_id"
                          }
                        },
                        "required": [
                          "data_source_id"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "title": "Workspace",
                        "type": "object",
                        "properties": {
                          "workspace": {
                            "type": "boolean",
                            "const": true
                          },
                          "type": {
                            "type": "string",
                            "const": "workspace"
                          }
                        },
                        "required": [
                          "workspace"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "title": "Title",
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "$ref": "#/components/schemas/richTextItemRequest"
                              }
                            },
                            "type": {
                              "type": "string",
                              "const": "title"
                            }
                          },
                          "required": [
                            "title"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Rich Text",
                          "type": "object",
                          "properties": {
                            "rich_text": {
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "$ref": "#/components/schemas/richTextItemRequest"
                              }
                            },
                            "type": {
                              "type": "string",
                              "const": "rich_text"
                            }
                          },
                          "required": [
                            "rich_text"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Number",
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "number"
                            }
                          },
                          "required": [
                            "number"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Url",
                          "type": "object",
                          "properties": {
                            "url": {
                              "anyOf": [
                                {
                                  "$ref": "#/components/schemas/textRequest"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "url"
                            }
                          },
                          "required": [
                            "url"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Select",
                          "type": "object",
                          "properties": {
                            "select": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "$ref": "#/components/schemas/stringRequest"
                                    },
                                    "name": {
                                      "$ref": "#/components/schemas/textRequest"
                                    },
                                    "color": {
                                      "$ref": "#/components/schemas/selectColor"
                                    },
                                    "description": {
                                      "anyOf": [
                                        {
                                          "$ref": "#/components/schemas/textRequest"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "$ref": "#/components/schemas/textRequest"
                                    },
                                    "id": {
                                      "$ref": "#/components/schemas/stringRequest"
                                    },
                                    "color": {
                                      "$ref": "#/components/schemas/selectColor"
                                    },
                                    "description": {
                                      "anyOf": [
                                        {
                                          "$ref": "#/components/schemas/textRequest"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "name"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "select"
                            }
                          },
                          "required": [
                            "select"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Multi Select",
                          "type": "object",
                          "properties": {
                            "multi_select": {
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "$ref": "#/components/schemas/stringRequest"
                                      },
                                      "name": {
                                        "$ref": "#/components/schemas/textRequest"
                                      },
                                      "color": {
                                        "$ref": "#/components/schemas/selectColor"
                                      },
                                      "description": {
                                        "anyOf": [
                                          {
                                            "$ref": "#/components/schemas/textRequest"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "id"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "$ref": "#/components/schemas/textRequest"
                                      },
                                      "id": {
                                        "$ref": "#/components/schemas/stringRequest"
                                      },
                                      "color": {
                                        "$ref": "#/components/schemas/selectColor"
                                      },
                                      "description": {
                                        "anyOf": [
                                          {
                                            "$ref": "#/components/schemas/textRequest"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "name"
                                    ],
                                    "additionalProperties": false
                                  }
                                ]
                              }
                            },
                            "type": {
                              "type": "string",
                              "const": "multi_select"
                            }
                          },
                          "required": [
                            "multi_select"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "People",
                          "type": "object",
                          "properties": {
                            "people": {
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "anyOf": [
                                  {
                                    "$ref": "#/components/schemas/partialUserObjectRequest"
                                  },
                                  {
                                    "$ref": "#/components/schemas/groupObjectRequest"
                                  }
                                ]
                              }
                            },
                            "type": {
                              "type": "string",
                              "const": "people"
                            }
                          },
                          "required": [
                            "people"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Email",
                          "type": "object",
                          "properties": {
                            "email": {
                              "anyOf": [
                                {
                                  "$ref": "#/components/schemas/stringRequest"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "email"
                            }
                          },
                          "required": [
                            "email"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Phone Number",
                          "type": "object",
                          "properties": {
                            "phone_number": {
                              "anyOf": [
                                {
                                  "$ref": "#/components/schemas/stringRequest"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "phone_number"
                            }
                          },
                          "required": [
                            "phone_number"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Date",
                          "type": "object",
                          "properties": {
                            "date": {
                              "anyOf": [
                                {
                                  "$ref": "#/components/schemas/dateRequest"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "date"
                            }
                          },
                          "required": [
                            "date"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Checkbox",
                          "type": "object",
                          "properties": {
                            "checkbox": {
                              "type": "boolean"
                            },
                            "type": {
                              "type": "string",
                              "const": "checkbox"
                            }
                          },
                          "required": [
                            "checkbox"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Relation",
                          "type": "object",
                          "properties": {
                            "relation": {
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "$ref": "#/components/schemas/relationItemPropertyValueResponse"
                              }
                            },
                            "type": {
                              "type": "string",
                              "const": "relation"
                            }
                          },
                          "required": [
                            "relation"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Files",
                          "type": "object",
                          "properties": {
                            "files": {
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "anyOf": [
                                  {
                                    "$ref": "#/components/schemas/internalOrExternalFileWithNameRequest"
                                  },
                                  {
                                    "$ref": "#/components/schemas/fileUploadWithOptionalNameRequest"
                                  }
                                ]
                              }
                            },
                            "type": {
                              "type": "string",
                              "const": "files"
                            }
                          },
                          "required": [
                            "files"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Status",
                          "type": "object",
                          "properties": {
                            "status": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "$ref": "#/components/schemas/stringRequest"
                                    },
                                    "name": {
                                      "$ref": "#/components/schemas/textRequest"
                                    },
                                    "color": {
                                      "$ref": "#/components/schemas/selectColor"
                                    },
                                    "description": {
                                      "anyOf": [
                                        {
                                          "$ref": "#/components/schemas/textRequest"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "$ref": "#/components/schemas/textRequest"
                                    },
                                    "id": {
                                      "$ref": "#/components/schemas/stringRequest"
                                    },
                                    "color": {
                                      "$ref": "#/components/schemas/selectColor"
                                    },
                                    "description": {
                                      "anyOf": [
                                        {
                                          "$ref": "#/components/schemas/textRequest"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "name"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "status"
                            }
                          },
                          "required": [
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Place",
                          "type": "object",
                          "properties": {
                            "place": {
                              "type": [
                                "object",
                                "null"
                              ],
                              "properties": {
                                "lat": {
                                  "type": "number"
                                },
                                "lon": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "address": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "aws_place_id": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "google_place_id": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "lat",
                                "lon"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "place"
                            }
                          },
                          "required": [
                            "place"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Verification",
                          "type": "object",
                          "properties": {
                            "verification": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "state": {
                                      "type": "string",
                                      "const": "verified"
                                    },
                                    "date": {
                                      "$ref": "#/components/schemas/dateRequest"
                                    }
                                  },
                                  "required": [
                                    "state"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "state": {
                                      "type": "string",
                                      "const": "unverified"
                                    }
                                  },
                                  "required": [
                                    "state"
                                  ]
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "verification"
                            }
                          },
                          "required": [
                            "verification"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    }
                  },
                  "icon": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/pageIconRequest"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "cover": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/pageCoverRequest"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "content": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequest"
                    }
                  },
                  "children": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequest"
                    }
                  },
                  "markdown": {
                    "description": "Page content as Notion-flavored Markdown. Mutually exclusive with content/children.",
                    "type": "string"
                  },
                  "allow_async": {
                    "description": "Set to true to receive an async_task response for markdown page creation. Only supported when markdown is provided.",
                    "type": "boolean"
                  },
                  "template": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "none"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "default"
                          },
                          "timezone": {
                            "$ref": "#/components/schemas/templateTimezone"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "template_id"
                          },
                          "template_id": {
                            "$ref": "#/components/schemas/idRequest"
                          },
                          "timezone": {
                            "$ref": "#/components/schemas/templateTimezone"
                          }
                        },
                        "required": [
                          "type",
                          "template_id"
                        ]
                      }
                    ]
                  },
                  "position": {
                    "$ref": "#/components/schemas/pagePositionSchema"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/pageObjectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/partialPageObjectResponse"
                    }
                  ]
                }
              }
            }
          },
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "async_task"
                    },
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "status": {
                      "$ref": "#/components/schemas/nonTerminalAsyncTaskStatus"
                    },
                    "status_url": {
                      "type": "string",
                      "minLength": 1
                    },
                    "created_time": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "poll_after_seconds": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "operation": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "surface": {
                              "type": "string",
                              "const": "rest"
                            },
                            "name": {
                              "$ref": "#/components/schemas/asyncTaskRestOperationName"
                            }
                          },
                          "required": [
                            "surface",
                            "name"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "surface": {
                              "type": "string",
                              "const": "mcp"
                            },
                            "name": {
                              "$ref": "#/components/schemas/asyncTaskMcpOperationName"
                            }
                          },
                          "required": [
                            "surface",
                            "name"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "status",
                    "status_url",
                    "created_time",
                    "poll_after_seconds",
                    "operation"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_400"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_401"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_403"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_404"
                }
              }
            }
          },
          "406": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_406"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_409"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_429"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_500"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_503"
                }
              }
            }
          },
          "504": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_504"
                }
              }
            }
          },
          "529": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_529"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.pages.create({\n  parent: {\n    data_source_id: \"d9824bdc-8445-4327-be8b-5b47500af6ce\"\n  },\n  properties: {\n    Name: {\n      title: [{ text: { content: \"New Page Title\" } }]\n    }\n  }\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/post-page",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content",
          "https://developers.notion.com/guides/data-apis/creating-pages-from-templates"
        ]
      }
    },
    "/v1/pages/{page_id}": {
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Retrieve a page",
        "operationId": "retrieve-a-page",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "The ID of the page to retrieve.",
              "$ref": "#/components/schemas/idRequest"
            }
          },
          {
            "name": "filter_properties",
            "in": "query",
            "schema": {
              "description": "Supply a list of property IDs to filter properties in the response. Note that if a page doesn't have a property, it won't be included in the filtered response.",
              "type": "array",
              "maxItems": 100,
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/partialPageObjectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/pageObjectResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_400"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_401"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_403"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_404"
                }
              }
            }
          },
          "406": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_406"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_409"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_429"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_500"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_503"
                }
              }
            }
          },
          "504": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_504"
                }
              }
            }
          },
          "529": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_529"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.pages.retrieve({\n  page_id: \"b55c9c91-384d-452b-81db-d1ef79372b75\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/retrieve-a-page",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content"
        ]
      },
      "patch": {
        "tags": [
          "Pages"
        ],
        "summary": "Update page",
        "operationId": "patch-page",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/idRequest"
            }
          },
          {
            "name": "filter_properties",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "properties": {
                    "type": "object",
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "title": "Title",
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "$ref": "#/components/schemas/richTextItemRequest"
                              }
                            },
                            "type": {
                              "type": "string",
                              "const": "title"
                            }
                          },
                          "required": [
                            "title"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Rich Text",
                          "type": "object",
                          "properties": {
                            "rich_text": {
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "$ref": "#/components/schemas/richTextItemRequest"
                              }
                            },
                            "type": {
                              "type": "string",
                              "const": "rich_text"
                            }
                          },
                          "required": [
                            "rich_text"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Number",
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "number"
                            }
                          },
                          "required": [
                            "number"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Url",
                          "type": "object",
                          "properties": {
                            "url": {
                              "anyOf": [
                                {
                                  "$ref": "#/components/schemas/textRequest"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "url"
                            }
                          },
                          "required": [
                            "url"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Select",
                          "type": "object",
                          "properties": {
                            "select": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "$ref": "#/components/schemas/stringRequest"
                                    },
                                    "name": {
                                      "$ref": "#/components/schemas/textRequest"
                                    },
                                    "color": {
                                      "$ref": "#/components/schemas/selectColor"
                                    },
                                    "description": {
                                      "anyOf": [
                                        {
                                          "$ref": "#/components/schemas/textRequest"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "$ref": "#/components/schemas/textRequest"
                                    },
                                    "id": {
                                      "$ref": "#/components/schemas/stringRequest"
                                    },
                                    "color": {
                                      "$ref": "#/components/schemas/selectColor"
                                    },
                                    "description": {
                                      "anyOf": [
                                        {
                                          "$ref": "#/components/schemas/textRequest"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "name"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "select"
                            }
                          },
                          "required": [
                            "select"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Multi Select",
                          "type": "object",
                          "properties": {
                            "multi_select": {
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "$ref": "#/components/schemas/stringRequest"
                                      },
                                      "name": {
                                        "$ref": "#/components/schemas/textRequest"
                                      },
                                      "color": {
                                        "$ref": "#/components/schemas/selectColor"
                                      },
                                      "description": {
                                        "anyOf": [
                                          {
                                            "$ref": "#/components/schemas/textRequest"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "id"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "$ref": "#/components/schemas/textRequest"
                                      },
                                      "id": {
                                        "$ref": "#/components/schemas/stringRequest"
                                      },
                                      "color": {
                                        "$ref": "#/components/schemas/selectColor"
                                      },
                                      "description": {
                                        "anyOf": [
                                          {
                                            "$ref": "#/components/schemas/textRequest"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "name"
                                    ],
                                    "additionalProperties": false
                                  }
                                ]
                              }
                            },
                            "type": {
                              "type": "string",
                              "const": "multi_select"
                            }
                          },
                          "required": [
                            "multi_select"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "People",
                          "type": "object",
                          "properties": {
                            "people": {
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "anyOf": [
                                  {
                                    "$ref": "#/components/schemas/partialUserObjectRequest"
                                  },
                                  {
                                    "$ref": "#/components/schemas/groupObjectRequest"
                                  }
                                ]
                              }
                            },
                            "type": {
                              "type": "string",
                              "const": "people"
                            }
                          },
                          "required": [
                            "people"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Email",
                          "type": "object",
                          "properties": {
                            "email": {
                              "anyOf": [
                                {
                                  "$ref": "#/components/schemas/stringRequest"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "email"
                            }
                          },
                          "required": [
                            "email"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Phone Number",
                          "type": "object",
                          "properties": {
                            "phone_number": {
                              "anyOf": [
                                {
                                  "$ref": "#/components/schemas/stringRequest"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "phone_number"
                            }
                          },
                          "required": [
                            "phone_number"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Date",
                          "type": "object",
                          "properties": {
                            "date": {
                              "anyOf": [
                                {
                                  "$ref": "#/components/schemas/dateRequest"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "date"
                            }
                          },
                          "required": [
                            "date"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Checkbox",
                          "type": "object",
                          "properties": {
                            "checkbox": {
                              "type": "boolean"
                            },
                            "type": {
                              "type": "string",
                              "const": "checkbox"
                            }
                          },
                          "required": [
                            "checkbox"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Relation",
                          "type": "object",
                          "properties": {
                            "relation": {
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "$ref": "#/components/schemas/relationItemPropertyValueResponse"
                              }
                            },
                            "type": {
                              "type": "string",
                              "const": "relation"
                            }
                          },
                          "required": [
                            "relation"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Files",
                          "type": "object",
                          "properties": {
                            "files": {
                              "type": "array",
                              "maxItems": 100,
                              "items": {
                                "anyOf": [
                                  {
                                    "$ref": "#/components/schemas/internalOrExternalFileWithNameRequest"
                                  },
                                  {
                                    "$ref": "#/components/schemas/fileUploadWithOptionalNameRequest"
                                  }
                                ]
                              }
                            },
                            "type": {
                              "type": "string",
                              "const": "files"
                            }
                          },
                          "required": [
                            "files"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Status",
                          "type": "object",
                          "properties": {
                            "status": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "$ref": "#/components/schemas/stringRequest"
                                    },
                                    "name": {
                                      "$ref": "#/components/schemas/textRequest"
                                    },
                                    "color": {
                                      "$ref": "#/components/schemas/selectColor"
                                    },
                                    "description": {
                                      "anyOf": [
                                        {
                                          "$ref": "#/components/schemas/textRequest"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "$ref": "#/components/schemas/textRequest"
                                    },
                                    "id": {
                                      "$ref": "#/components/schemas/stringRequest"
                                    },
                                    "color": {
                                      "$ref": "#/components/schemas/selectColor"
                                    },
                                    "description": {
                                      "anyOf": [
                                        {
                                          "$ref": "#/components/schemas/textRequest"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "name"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "status"
                            }
                          },
                          "required": [
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Place",
                          "type": "object",
                          "properties": {
                            "place": {
                              "type": [
                                "object",
                                "null"
                              ],
                              "properties": {
                                "lat": {
                                  "type": "number"
                                },
                                "lon": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "address": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "aws_place_id": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "google_place_id": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "lat",
                                "lon"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "place"
                            }
                          },
                          "required": [
                            "place"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "title": "Verification",
                          "type": "object",
                          "properties": {
                            "verification": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "state": {
                                      "type": "string",
                                      "const": "verified"
                                    },
                                    "date": {
                                      "$ref": "#/components/schemas/dateRequest"
                                    }
                                  },
                                  "required": [
                                    "state"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "state": {
                                      "type": "string",
                                      "const": "unverified"
                                    }
                                  },
                                  "required": [
                                    "state"
                                  ]
                                }
                              ]
                            },
                            "type": {
                              "type": "string",
                              "const": "verification"
                            }
                          },
                          "required": [
                            "verification"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    }
                  },
                  "icon": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/pageIconRequest"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "cover": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/pageCoverRequest"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "is_locked": {
                    "description": "Whether the page should be locked from editing in the Notion app UI. If not provided, the locked state will not be updated.",
                    "type": "boolean"
                  },
                  "template": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "default"
                          },
                          "timezone": {
                            "$ref": "#/components/schemas/templateTimezone"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "template_id"
                          },
                          "template_id": {
                            "$ref": "#/components/schemas/idRequest"
                          },
                          "timezone": {
                            "$ref": "#/components/schemas/templateTimezone"
                          }
                        },
                        "required": [
                          "type",
                          "template_id"
                        ]
                      }
                    ]
                  },
                  "erase_content": {
                    "description": "Whether to erase all existing content from the page. When used with a template, the template content replaces the existing content. When used without a template, simply clears the page content.",
                    "type": "boolean"
                  },
                  "in_trash": {
                    "type": "boolean"
                  },
                  "is_archived": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/pageObjectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/partialPageObjectResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_400"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_401"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_403"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_404"
                }
              }
            }
          },
          "406": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_406"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_409"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_429"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_500"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_503"
                }
              }
            }
          },
          "504": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_504"
                }
              }
            }
          },
          "529": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_529"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.pages.update({\n  page_id: \"b55c9c91-384d-452b-81db-d1ef79372b75\",\n  properties: {\n    Name: {\n      title: [{ text: { content: \"Updated Title\" } }]\n    }\n  }\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/patch-page",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content"
        ]
      }
    },
    "/v1/pages/{page_id}/move": {
      "post": {
        "tags": [
          "Pages"
        ],
        "summary": "Move a page",
        "operationId": "move-page",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "The ID of the page to move.",
              "$ref": "#/components/schemas/idRequest"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parent": {
                    "description": "The new parent of the page.",
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "page_id": {
                            "description": "The ID of the parent page (with or without dashes), for example, 195de9221179449fab8075a27c979105",
                            "$ref": "#/components/schemas/idRequest"
                          },
                          "type": {
                            "description": "Always `page_id`",
                            "type": "string",
                            "const": "page_id"
                          }
                        },
                        "required": [
                          "page_id"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "data_source_id": {
                            "description": "The ID of the parent data source (collection), with or without dashes. For example, f336d0bc-b841-465b-8045-024475c079dd",
                            "$ref": "#/components/schemas/idRequest"
                          },
                          "type": {
                            "description": "Always `data_source_id`",
                            "type": "string",
                            "const": "data_source_id"
                          }
                        },
                        "required": [
                          "data_source_id"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "parent"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/partialPageObjectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/pageObjectResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_400"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_401"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_403"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_404"
                }
              }
            }
          },
          "406": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_406"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_409"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_429"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_500"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_503"
                }
              }
            }
          },
          "504": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_504"
                }
              }
            }
          },
          "529": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_api_529"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.pages.move({\n  page_id: \"b55c9c91-384d-452b-81db-d1ef79372b75\",\n  parent: {\n    page_id: \"3c357473-a281-49a4-88c0-10d2b245a589\"\n  }\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/move-page",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content"
        ]
      }
    },
    "/v1/pages/{page_id}/properties/{property_id}": {
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Retrieve a page property item",
        "operationId": "retrieve-a-page-property",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "The ID of the page containing the property.",
              "$ref": "#/components/schemas/idRequest"
            }
          },
          {
            "name": "property_id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "The ID or name of the property to retrieve.",
              "type": "string"
            }
[...]
