{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API",
    "termsOfService": "https://notion.notion.site/Terms-and-Privacy-28ffdd083dc3473e9c2da6ec011b58ac",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.notion.com/v1"
    }
  ],
  "paths": {
    "/users/me": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Retrieve your token's bot user",
        "operationId": "get-self",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSelfOk"
          },
          "400": {
            "$ref": "#/components/responses/GetSelfBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/GetSelfUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/GetSelfForbidden"
          },
          "404": {
            "$ref": "#/components/responses/GetSelfNotFound"
          },
          "406": {
            "$ref": "#/components/responses/GetSelfNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/GetSelfConflict"
          },
          "429": {
            "$ref": "#/components/responses/GetSelfTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/GetSelfInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/GetSelfServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GetSelfGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/GetSelfTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.users.me()"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/get-self",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/get-started/overview"
        ]
      }
    },
    "/users/{user_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/user_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Retrieve a user",
        "operationId": "get-user",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetUserOk"
          },
          "400": {
            "$ref": "#/components/responses/GetUserBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/GetUserUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/GetUserForbidden"
          },
          "404": {
            "$ref": "#/components/responses/GetUserNotFound"
          },
          "406": {
            "$ref": "#/components/responses/GetUserNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/GetUserConflict"
          },
          "429": {
            "$ref": "#/components/responses/GetUserTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/GetUserInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/GetUserServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GetUserGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/GetUserTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.users.retrieve({\n  user_id: \"e79a0b74-3aba-4149-9f74-0bb5791a6ee6\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/get-user",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/get-started/overview"
        ]
      }
    },
    "/users": {
      "parameters": [
        {
          "$ref": "#/components/parameters/start_cursor"
        },
        {
          "$ref": "#/components/parameters/page_size"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List all users",
        "operationId": "get-users",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetUsersOk"
          },
          "400": {
            "$ref": "#/components/responses/GetUsersBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/GetUsersUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/GetUsersForbidden"
          },
          "404": {
            "$ref": "#/components/responses/GetUsersNotFound"
          },
          "406": {
            "$ref": "#/components/responses/GetUsersNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/GetUsersConflict"
          },
          "429": {
            "$ref": "#/components/responses/GetUsersTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/GetUsersInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/GetUsersServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GetUsersGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/GetUsersTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.users.list({\n  start_cursor: undefined,\n  page_size: 10\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/get-users",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/get-started/overview"
        ]
      }
    },
    "/pages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/filter_properties"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Pages"
        ],
        "summary": "Create a page",
        "operationId": "post-page",
        "requestBody": {
          "$ref": "#/components/requestBodies/PostPage"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostPageOk"
          },
          "202": {
            "$ref": "#/components/responses/PostPageAccepted"
          },
          "400": {
            "$ref": "#/components/responses/PostPageBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/PostPageUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PostPageForbidden"
          },
          "404": {
            "$ref": "#/components/responses/PostPageNotFound"
          },
          "406": {
            "$ref": "#/components/responses/PostPageNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/PostPageConflict"
          },
          "429": {
            "$ref": "#/components/responses/PostPageTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/PostPageInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/PostPageServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/PostPageGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/PostPageTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.pages.create({\n  parent: {\n    data_source_id: \"d9824bdc-8445-4327-be8b-5b47500af6ce\"\n  },\n  properties: {\n    Name: {\n      title: [{ text: { content: \"New Page Title\" } }]\n    }\n  }\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/post-page",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content",
          "https://developers.notion.com/guides/data-apis/creating-pages-from-templates"
        ]
      }
    },
    "/pages/{page_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Retrieve a page",
        "operationId": "retrieve-a-page",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_id"
          },
          {
            "$ref": "#/components/parameters/filter_properties2"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveAPageOk"
          },
          "400": {
            "$ref": "#/components/responses/RetrieveAPageBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RetrieveAPageUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RetrieveAPageForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RetrieveAPageNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RetrieveAPageNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RetrieveAPageConflict"
          },
          "429": {
            "$ref": "#/components/responses/RetrieveAPageTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RetrieveAPageInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RetrieveAPageServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RetrieveAPageGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RetrieveAPageTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.pages.retrieve({\n  page_id: \"b55c9c91-384d-452b-81db-d1ef79372b75\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/retrieve-a-page",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content"
        ]
      },
      "patch": {
        "tags": [
          "Pages"
        ],
        "summary": "Update page",
        "operationId": "patch-page",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_id2"
          },
          {
            "$ref": "#/components/parameters/filter_properties"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PatchPage"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PatchPageOk"
          },
          "400": {
            "$ref": "#/components/responses/PatchPageBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/PatchPageUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PatchPageForbidden"
          },
          "404": {
            "$ref": "#/components/responses/PatchPageNotFound"
          },
          "406": {
            "$ref": "#/components/responses/PatchPageNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/PatchPageConflict"
          },
          "429": {
            "$ref": "#/components/responses/PatchPageTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/PatchPageInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/PatchPageServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/PatchPageGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/PatchPageTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.pages.update({\n  page_id: \"b55c9c91-384d-452b-81db-d1ef79372b75\",\n  properties: {\n    Name: {\n      title: [{ text: { content: \"Updated Title\" } }]\n    }\n  }\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/patch-page",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content"
        ]
      }
    },
    "/pages/{page_id}/move": {
      "parameters": [
        {
          "$ref": "#/components/parameters/page_id3"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Pages"
        ],
        "summary": "Move a page",
        "operationId": "move-page",
        "requestBody": {
          "$ref": "#/components/requestBodies/MovePage"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MovePageOk"
          },
          "400": {
            "$ref": "#/components/responses/MovePageBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/MovePageUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/MovePageForbidden"
          },
          "404": {
            "$ref": "#/components/responses/MovePageNotFound"
          },
          "406": {
            "$ref": "#/components/responses/MovePageNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/MovePageConflict"
          },
          "429": {
            "$ref": "#/components/responses/MovePageTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/MovePageInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/MovePageServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/MovePageGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/MovePageTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.pages.move({\n  page_id: \"b55c9c91-384d-452b-81db-d1ef79372b75\",\n  parent: {\n    page_id: \"3c357473-a281-49a4-88c0-10d2b245a589\"\n  }\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/move-page",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content"
        ]
      }
    },
    "/pages/{page_id}/properties/{property_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/page_id4"
        },
        {
          "$ref": "#/components/parameters/property_id"
        },
        {
          "$ref": "#/components/parameters/start_cursor"
        },
        {
          "$ref": "#/components/parameters/page_size2"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Retrieve a page property item",
        "operationId": "retrieve-a-page-property",
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveAPagePropertyOk"
          },
          "400": {
            "$ref": "#/components/responses/RetrieveAPagePropertyBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RetrieveAPagePropertyUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RetrieveAPagePropertyForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RetrieveAPagePropertyNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RetrieveAPagePropertyNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RetrieveAPagePropertyConflict"
          },
          "429": {
            "$ref": "#/components/responses/RetrieveAPagePropertyTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RetrieveAPagePropertyInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RetrieveAPagePropertyServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RetrieveAPagePropertyGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RetrieveAPagePropertyTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.pages.properties.retrieve({\n  page_id: \"b55c9c91-384d-452b-81db-d1ef79372b75\",\n  property_id: \"aBcD\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/retrieve-a-page-property",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content"
        ]
      }
    },
    "/pages/{page_id}/markdown": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Retrieve a page as markdown",
        "operationId": "retrieve-page-markdown",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_id5"
          },
          {
            "$ref": "#/components/parameters/include_transcript"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrievePageMarkdownOk"
          },
          "400": {
            "$ref": "#/components/responses/RetrievePageMarkdownBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RetrievePageMarkdownUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RetrievePageMarkdownForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RetrievePageMarkdownNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RetrievePageMarkdownNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RetrievePageMarkdownConflict"
          },
          "429": {
            "$ref": "#/components/responses/RetrievePageMarkdownTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RetrievePageMarkdownInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RetrievePageMarkdownServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RetrievePageMarkdownGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RetrievePageMarkdownTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.pages.retrieveMarkdown({\n  page_id: \"b55c9c91-384d-452b-81db-d1ef79372b75\"\n})\n\nconsole.log(response.markdown)"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/retrieve-page-markdown",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-markdown-content"
        ]
      },
      "patch": {
        "tags": [
          "Pages"
        ],
        "summary": "Update a page's content as markdown",
        "operationId": "update-page-markdown",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_id6"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdatePageMarkdown"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdatePageMarkdownOk"
          },
          "202": {
            "$ref": "#/components/responses/UpdatePageMarkdownAccepted"
          },
          "400": {
            "$ref": "#/components/responses/UpdatePageMarkdownBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UpdatePageMarkdownUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpdatePageMarkdownForbidden"
          },
          "404": {
            "$ref": "#/components/responses/UpdatePageMarkdownNotFound"
          },
          "406": {
            "$ref": "#/components/responses/UpdatePageMarkdownNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/UpdatePageMarkdownConflict"
          },
          "429": {
            "$ref": "#/components/responses/UpdatePageMarkdownTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UpdatePageMarkdownInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/UpdatePageMarkdownServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/UpdatePageMarkdownGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/UpdatePageMarkdownTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.pages.updateMarkdown({\n  page_id: \"b55c9c91-384d-452b-81db-d1ef79372b75\",\n  type: \"update_content\",\n  update_content: {\n    content_updates: [\n      {\n        old_str: \"existing text to find\",\n        new_str: \"replacement text\"\n      }\n    ]\n  }\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/update-page-markdown",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-markdown-content"
        ]
      }
    },
    "/async_tasks/{task_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/task_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Async tasks"
        ],
        "summary": "Retrieve an async task",
        "operationId": "retrieve-async-task",
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveAsyncTaskOk"
          },
          "400": {
            "$ref": "#/components/responses/RetrieveAsyncTaskBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RetrieveAsyncTaskUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RetrieveAsyncTaskForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RetrieveAsyncTaskNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RetrieveAsyncTaskNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RetrieveAsyncTaskConflict"
          },
          "429": {
            "$ref": "#/components/responses/RetrieveAsyncTaskTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RetrieveAsyncTaskInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RetrieveAsyncTaskServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RetrieveAsyncTaskGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RetrieveAsyncTaskTheServiceIsOverloaded"
          }
        },
        "x-notion-sdk-method": "asyncTasks.retrieve",
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.asyncTasks.retrieve({\n  task_id: \"task_abc123\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/retrieve-async-task"
      }
    },
    "/blocks/{block_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Retrieve a block",
        "operationId": "retrieve-a-block",
        "parameters": [
          {
            "$ref": "#/components/parameters/block_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveABlockOk"
          },
          "400": {
            "$ref": "#/components/responses/RetrieveABlockBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RetrieveABlockUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RetrieveABlockForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RetrieveABlockNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RetrieveABlockNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RetrieveABlockConflict"
          },
          "429": {
            "$ref": "#/components/responses/RetrieveABlockTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RetrieveABlockInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RetrieveABlockServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RetrieveABlockGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RetrieveABlockTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.blocks.retrieve({\n  block_id: \"c02fc1d3-db8b-45c5-a222-27595b15aea7\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/retrieve-a-block",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content"
        ]
      },
      "delete": {
        "tags": [
          "Blocks"
        ],
        "summary": "Delete a block",
        "operationId": "delete-a-block",
        "parameters": [
          {
            "$ref": "#/components/parameters/block_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteABlockOk"
          },
          "400": {
            "$ref": "#/components/responses/DeleteABlockBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/DeleteABlockUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DeleteABlockForbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeleteABlockNotFound"
          },
          "406": {
            "$ref": "#/components/responses/DeleteABlockNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/DeleteABlockConflict"
          },
          "429": {
            "$ref": "#/components/responses/DeleteABlockTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DeleteABlockInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeleteABlockServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/DeleteABlockGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/DeleteABlockTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.blocks.delete({\n  block_id: \"c02fc1d3-db8b-45c5-a222-27595b15aea7\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/delete-a-block",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content"
        ]
      },
      "patch": {
        "tags": [
          "Blocks"
        ],
        "summary": "Update a block",
        "operationId": "update-a-block",
        "parameters": [
          {
            "$ref": "#/components/parameters/block_id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateABlock"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateABlockOk"
          },
          "400": {
            "$ref": "#/components/responses/UpdateABlockBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UpdateABlockUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpdateABlockForbidden"
          },
          "404": {
            "$ref": "#/components/responses/UpdateABlockNotFound"
          },
          "406": {
            "$ref": "#/components/responses/UpdateABlockNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/UpdateABlockConflict"
          },
          "429": {
            "$ref": "#/components/responses/UpdateABlockTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UpdateABlockInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/UpdateABlockServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/UpdateABlockGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/UpdateABlockTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.blocks.update({\n  block_id: \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n  paragraph: {\n    rich_text: [{ text: { content: \"Updated paragraph text\" } }]\n  }\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/update-a-block",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content"
        ]
      }
    },
    "/blocks/{block_id}/children": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Retrieve block children",
        "operationId": "get-block-children",
        "parameters": [
          {
            "$ref": "#/components/parameters/block_id"
          },
          {
            "$ref": "#/components/parameters/start_cursor3"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBlockChildrenOk"
          },
          "400": {
            "$ref": "#/components/responses/GetBlockChildrenBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/GetBlockChildrenUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/GetBlockChildrenForbidden"
          },
          "404": {
            "$ref": "#/components/responses/GetBlockChildrenNotFound"
          },
          "406": {
            "$ref": "#/components/responses/GetBlockChildrenNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/GetBlockChildrenConflict"
          },
          "429": {
            "$ref": "#/components/responses/GetBlockChildrenTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/GetBlockChildrenInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/GetBlockChildrenServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GetBlockChildrenGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/GetBlockChildrenTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.blocks.children.list({\n  block_id: \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n  start_cursor: undefined,\n  page_size: 50\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/get-block-children",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content"
        ]
      },
      "patch": {
        "tags": [
          "Blocks"
        ],
        "summary": "Append block children",
        "operationId": "patch-block-children",
        "parameters": [
          {
            "$ref": "#/components/parameters/block_id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PatchBlockChildren"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PatchBlockChildrenOk"
          },
          "400": {
            "$ref": "#/components/responses/PatchBlockChildrenBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/PatchBlockChildrenUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PatchBlockChildrenForbidden"
          },
          "404": {
            "$ref": "#/components/responses/PatchBlockChildrenNotFound"
          },
          "406": {
            "$ref": "#/components/responses/PatchBlockChildrenNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/PatchBlockChildrenConflict"
          },
          "429": {
            "$ref": "#/components/responses/PatchBlockChildrenTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/PatchBlockChildrenInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/PatchBlockChildrenServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/PatchBlockChildrenGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/PatchBlockChildrenTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.blocks.children.append({\n  block_id: \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n  children: [\n    {\n      type: \"paragraph\",\n      paragraph: {\n        rich_text: [{ text: { content: \"Hello, world!\" } }]\n      }\n    }\n  ]\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/patch-block-children",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-page-content"
        ]
      }
    },
    "/data_sources/{data_source_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Data sources"
        ],
        "summary": "Retrieve a data source",
        "operationId": "retrieve-a-data-source",
        "parameters": [
          {
            "$ref": "#/components/parameters/data_source_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveADataSourceOk"
          },
          "400": {
            "$ref": "#/components/responses/RetrieveADataSourceBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RetrieveADataSourceUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RetrieveADataSourceForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RetrieveADataSourceNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RetrieveADataSourceNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RetrieveADataSourceConflict"
          },
          "429": {
            "$ref": "#/components/responses/RetrieveADataSourceTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RetrieveADataSourceInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RetrieveADataSourceServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RetrieveADataSourceGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RetrieveADataSourceTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.dataSources.retrieve({\n  data_source_id: \"d9824bdc-8445-4327-be8b-5b47500af6ce\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/retrieve-a-data-source",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-databases"
        ]
      },
      "patch": {
        "tags": [
          "Data sources"
        ],
        "summary": "Update a data source",
        "operationId": "update-a-data-source",
        "parameters": [
          {
            "$ref": "#/components/parameters/data_source_id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateADataSource"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateADataSourceOk"
          },
          "400": {
            "$ref": "#/components/responses/UpdateADataSourceBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UpdateADataSourceUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpdateADataSourceForbidden"
          },
          "404": {
            "$ref": "#/components/responses/UpdateADataSourceNotFound"
          },
          "406": {
            "$ref": "#/components/responses/UpdateADataSourceNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/UpdateADataSourceConflict"
          },
          "429": {
            "$ref": "#/components/responses/UpdateADataSourceTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UpdateADataSourceInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/UpdateADataSourceServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/UpdateADataSourceGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/UpdateADataSourceTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.dataSources.update({\n  data_source_id: \"d9824bdc-8445-4327-be8b-5b47500af6ce\",\n  title: [{ text: { content: \"Updated Data Source Name\" } }]\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/update-a-data-source",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-databases"
        ]
      }
    },
    "/data_sources/{data_source_id}/query": {
      "parameters": [
        {
          "$ref": "#/components/parameters/data_source_id3"
        },
        {
          "$ref": "#/components/parameters/filter_properties"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Data sources"
        ],
        "summary": "Query a data source",
        "operationId": "post-database-query",
        "requestBody": {
          "$ref": "#/components/requestBodies/PostDatabaseQuery"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostDatabaseQueryOk"
          },
          "400": {
            "$ref": "#/components/responses/PostDatabaseQueryBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/PostDatabaseQueryUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PostDatabaseQueryForbidden"
          },
          "404": {
            "$ref": "#/components/responses/PostDatabaseQueryNotFound"
          },
          "406": {
            "$ref": "#/components/responses/PostDatabaseQueryNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/PostDatabaseQueryConflict"
          },
          "429": {
            "$ref": "#/components/responses/PostDatabaseQueryTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/PostDatabaseQueryInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/PostDatabaseQueryServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/PostDatabaseQueryGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/PostDatabaseQueryTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.dataSources.query({\n  data_source_id: \"d9824bdc-8445-4327-be8b-5b47500af6ce\",\n  filter: {\n    property: \"Status\",\n    select: { equals: \"Done\" }\n  },\n  sorts: [\n    {\n      property: \"Created\",\n      direction: \"descending\"\n    }\n  ]\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/post-database-query",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-databases"
        ]
      }
    },
    "/data_sources": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Data sources"
        ],
        "summary": "Create a data source",
        "operationId": "create-a-database",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateADatabase"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateADatabaseOk"
          },
          "400": {
            "$ref": "#/components/responses/CreateADatabaseBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CreateADatabaseUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CreateADatabaseForbidden"
          },
          "404": {
            "$ref": "#/components/responses/CreateADatabaseNotFound"
          },
          "406": {
            "$ref": "#/components/responses/CreateADatabaseNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/CreateADatabaseConflict"
          },
          "429": {
            "$ref": "#/components/responses/CreateADatabaseTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/CreateADatabaseInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/CreateADatabaseServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/CreateADatabaseGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/CreateADatabaseTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.dataSources.create({\n  parent: {\n    database_id: \"a1b2c3d4-e5f6-7890-abcd-ef1234567890\"\n  },\n  title: [{ text: { content: \"My Data Source\" } }],\n  properties: {\n    Name: { title: {} },\n    Status: {\n      select: {\n        options: [\n          { name: \"To Do\", color: \"red\" },\n          { name: \"Done\", color: \"green\" }\n        ]\n      }\n    }\n  }\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/create-a-database",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-databases"
        ]
      }
    },
    "/data_sources/{data_source_id}/templates": {
      "parameters": [
        {
          "$ref": "#/components/parameters/data_source_id"
        },
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/start_cursor4"
        },
        {
          "$ref": "#/components/parameters/page_size4"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Data sources"
        ],
        "summary": "List templates in a data source",
        "operationId": "list-data-source-templates",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListDataSourceTemplatesOk"
          },
          "400": {
            "$ref": "#/components/responses/ListDataSourceTemplatesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListDataSourceTemplatesUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListDataSourceTemplatesForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListDataSourceTemplatesNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListDataSourceTemplatesNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListDataSourceTemplatesConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListDataSourceTemplatesTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListDataSourceTemplatesInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListDataSourceTemplatesServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListDataSourceTemplatesGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListDataSourceTemplatesTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.dataSources.listTemplates({\n  data_source_id: \"d9824bdc-8445-4327-be8b-5b47500af6ce\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/list-data-source-templates",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-databases"
        ]
      }
    },
    "/databases/{database_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "Retrieve a database",
        "operationId": "retrieve-database",
        "parameters": [
          {
            "$ref": "#/components/parameters/database_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveDatabaseOk"
          },
          "400": {
            "$ref": "#/components/responses/RetrieveDatabaseBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RetrieveDatabaseUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RetrieveDatabaseForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RetrieveDatabaseNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RetrieveDatabaseNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RetrieveDatabaseConflict"
          },
          "429": {
            "$ref": "#/components/responses/RetrieveDatabaseTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RetrieveDatabaseInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RetrieveDatabaseServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RetrieveDatabaseGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RetrieveDatabaseTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.databases.retrieve({\n  database_id: \"d9824bdc-8445-4327-be8b-5b47500af6ce\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/retrieve-database",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-databases"
        ]
      },
      "patch": {
        "tags": [
          "Databases"
        ],
        "summary": "Update a database",
        "operationId": "update-database",
        "parameters": [
          {
            "$ref": "#/components/parameters/database_id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateDatabase"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateDatabaseOk"
          },
          "400": {
            "$ref": "#/components/responses/UpdateDatabaseBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UpdateDatabaseUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpdateDatabaseForbidden"
          },
          "404": {
            "$ref": "#/components/responses/UpdateDatabaseNotFound"
          },
          "406": {
            "$ref": "#/components/responses/UpdateDatabaseNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/UpdateDatabaseConflict"
          },
          "429": {
            "$ref": "#/components/responses/UpdateDatabaseTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UpdateDatabaseInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/UpdateDatabaseServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/UpdateDatabaseGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/UpdateDatabaseTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.databases.update({\n  database_id: \"d9824bdc-8445-4327-be8b-5b47500af6ce\",\n  title: [{ text: { content: \"Updated Database Title\" } }]\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/update-database",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-databases"
        ]
      }
    },
    "/databases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Databases"
        ],
        "summary": "Create a database",
        "operationId": "create-database",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateDatabase"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateDatabaseOk"
          },
          "400": {
            "$ref": "#/components/responses/CreateDatabaseBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CreateDatabaseUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CreateDatabaseForbidden"
          },
          "404": {
            "$ref": "#/components/responses/CreateDatabaseNotFound"
          },
          "406": {
            "$ref": "#/components/responses/CreateDatabaseNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/CreateDatabaseConflict"
          },
          "429": {
            "$ref": "#/components/responses/CreateDatabaseTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/CreateDatabaseInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/CreateDatabaseServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/CreateDatabaseGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/CreateDatabaseTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.databases.create({\n  parent: {\n    type: \"page_id\",\n    page_id: \"b55c9c91-384d-452b-81db-d1ef79372b75\"\n  },\n  title: [{ text: { content: \"My Database\" } }]\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/create-database",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-databases"
        ]
      }
    },
    "/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search by title",
        "operationId": "post-search",
        "requestBody": {
          "$ref": "#/components/requestBodies/PostSearch"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostSearchOk"
          },
          "400": {
            "$ref": "#/components/responses/PostSearchBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/PostSearchUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PostSearchForbidden"
          },
          "404": {
            "$ref": "#/components/responses/PostSearchNotFound"
          },
          "406": {
            "$ref": "#/components/responses/PostSearchNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/PostSearchConflict"
          },
          "429": {
            "$ref": "#/components/responses/PostSearchTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/PostSearchInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/PostSearchServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/PostSearchGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/PostSearchTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.search({\n  query: \"meeting notes\",\n  filter: {\n    property: \"object\",\n    value: \"page\"\n  },\n  sort: {\n    direction: \"descending\",\n    timestamp: \"last_edited_time\"\n  }\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/post-search",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-databases"
        ]
      }
    },
    "/comments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "List comments",
        "operationId": "list-comments",
        "parameters": [
          {
            "$ref": "#/components/parameters/block_id6"
          },
          {
            "$ref": "#/components/parameters/start_cursor4"
          },
          {
            "$ref": "#/components/parameters/page_size4"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListCommentsOk"
          },
          "400": {
            "$ref": "#/components/responses/ListCommentsBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListCommentsUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListCommentsForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListCommentsNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListCommentsNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListCommentsConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListCommentsTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListCommentsInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListCommentsServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListCommentsGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListCommentsTheServiceIsOverloaded"
          }
        },
        "x-notion-sdk-method": "comments.list",
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.comments.list({\n  block_id: \"b55c9c91-384d-452b-81db-d1ef79372b75\",\n  start_cursor: undefined,\n  page_size: 50\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/list-comments",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-comments"
        ]
      },
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create a comment",
        "operationId": "create-a-comment",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateAComment"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateACommentOk"
          },
          "400": {
            "$ref": "#/components/responses/CreateACommentBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CreateACommentUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CreateACommentForbidden"
          },
          "404": {
            "$ref": "#/components/responses/CreateACommentNotFound"
          },
          "406": {
            "$ref": "#/components/responses/CreateACommentNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/CreateACommentConflict"
          },
          "429": {
            "$ref": "#/components/responses/CreateACommentTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/CreateACommentInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/CreateACommentServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/CreateACommentGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/CreateACommentTheServiceIsOverloaded"
          }
        },
        "x-notion-sdk-method": "comments.create",
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.comments.create({\n  parent: { page_id: \"b55c9c91-384d-452b-81db-d1ef79372b75\" },\n  rich_text: [{ text: { content: \"This is a comment\" } }]\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/create-a-comment",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-comments"
        ]
      }
    },
    "/comments/{comment_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Retrieve a comment",
        "operationId": "retrieve-comment",
        "parameters": [
          {
            "$ref": "#/components/parameters/comment_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveCommentOk"
          },
          "400": {
            "$ref": "#/components/responses/RetrieveCommentBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RetrieveCommentUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RetrieveCommentForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RetrieveCommentNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RetrieveCommentNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RetrieveCommentConflict"
          },
          "429": {
            "$ref": "#/components/responses/RetrieveCommentTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RetrieveCommentInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RetrieveCommentServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RetrieveCommentGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RetrieveCommentTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.comments.retrieve({\n  comment_id: \"c02fc1d3-db8b-45c5-a222-27595b15aea7\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/retrieve-comment",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-comments"
        ]
      },
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Delete a comment",
        "operationId": "delete-a-comment",
        "parameters": [
          {
            "$ref": "#/components/parameters/comment_id2"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteACommentOk"
          },
          "400": {
            "$ref": "#/components/responses/DeleteACommentBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/DeleteACommentUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DeleteACommentForbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeleteACommentNotFound"
          },
          "406": {
            "$ref": "#/components/responses/DeleteACommentNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/DeleteACommentConflict"
          },
          "429": {
            "$ref": "#/components/responses/DeleteACommentTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DeleteACommentInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeleteACommentServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/DeleteACommentGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/DeleteACommentTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.comments.delete({\n  comment_id: \"c02fc1d3-db8b-45c5-a222-27595b15aea7\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/delete-a-comment"
      },
      "patch": {
        "tags": [
          "Comments"
        ],
        "summary": "Update a comment",
        "operationId": "update-a-comment",
        "parameters": [
          {
            "$ref": "#/components/parameters/comment_id3"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateAComment"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateACommentOk"
          },
          "400": {
            "$ref": "#/components/responses/UpdateACommentBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UpdateACommentUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpdateACommentForbidden"
          },
          "404": {
            "$ref": "#/components/responses/UpdateACommentNotFound"
          },
          "406": {
            "$ref": "#/components/responses/UpdateACommentNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/UpdateACommentConflict"
          },
          "429": {
            "$ref": "#/components/responses/UpdateACommentTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UpdateACommentInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/UpdateACommentServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/UpdateACommentGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/UpdateACommentTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.comments.update({\n  comment_id: \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n  rich_text: [{ text: { content: \"Updated comment text\" } }]\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/update-a-comment"
      }
    },
    "/file_uploads": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "File uploads"
        ],
        "summary": "List file uploads",
        "operationId": "list-file-uploads",
        "parameters": [
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/start_cursor4"
          },
          {
            "$ref": "#/components/parameters/page_size4"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListFileUploadsOk"
          },
          "400": {
            "$ref": "#/components/responses/ListFileUploadsBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListFileUploadsUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListFileUploadsForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListFileUploadsNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListFileUploadsNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListFileUploadsConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListFileUploadsTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListFileUploadsInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListFileUploadsServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListFileUploadsGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListFileUploadsTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.fileUploads.list({\n  start_cursor: undefined,\n  page_size: 50\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/list-file-uploads",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-files-and-media"
        ]
      },
      "post": {
        "tags": [
          "File uploads"
        ],
        "summary": "Create a file upload",
        "operationId": "create-file",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateFile"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateFileOk"
          },
          "400": {
            "$ref": "#/components/responses/CreateFileBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CreateFileUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CreateFileForbidden"
          },
          "404": {
            "$ref": "#/components/responses/CreateFileNotFound"
          },
          "406": {
            "$ref": "#/components/responses/CreateFileNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/CreateFileConflict"
          },
          "429": {
            "$ref": "#/components/responses/CreateFileTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/CreateFileInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/CreateFileServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/CreateFileGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/CreateFileTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.fileUploads.create({\n  mode: \"single_part\",\n  filename: \"document.pdf\",\n  content_type: \"application/pdf\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/create-file",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-files-and-media",
          "https://developers.notion.com/guides/data-apis/uploading-small-files"
        ]
      }
    },
    "/file_uploads/{file_upload_id}/send": {
      "parameters": [
        {
          "$ref": "#/components/parameters/file_upload_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "File uploads"
        ],
        "summary": "Upload a file",
        "operationId": "upload-file",
        "requestBody": {
          "$ref": "#/components/requestBodies/UploadFile"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UploadFileOk"
          },
          "400": {
            "$ref": "#/components/responses/UploadFileBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UploadFileUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UploadFileForbidden"
          },
          "404": {
            "$ref": "#/components/responses/UploadFileNotFound"
          },
          "406": {
            "$ref": "#/components/responses/UploadFileNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/UploadFileConflict"
          },
          "429": {
            "$ref": "#/components/responses/UploadFileTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UploadFileInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/UploadFileServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/UploadFileGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/UploadFileTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nimport { readFile } from \"fs/promises\"\nimport { basename } from \"path\"\n\nconst filePath = \"./document.pdf\"\n\nconst response = await notion.fileUploads.send({\n  file_upload_id: \"a02fc1d3-db8b-45c5-a222-27595b15aea7\",\n  file: {\n    filename: basename(filePath),\n    data: new Blob([await readFile(filePath)], {\n      type: \"application/pdf\"\n    })\n  }\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/upload-file",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-files-and-media",
          "https://developers.notion.com/guides/data-apis/sending-larger-files"
        ]
      }
    },
    "/file_uploads/{file_upload_id}/complete": {
      "parameters": [
        {
          "$ref": "#/components/parameters/file_upload_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "File uploads"
        ],
        "summary": "Complete a multi-part file upload",
        "operationId": "complete-file-upload",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CompleteFileUploadOk"
          },
          "400": {
            "$ref": "#/components/responses/CompleteFileUploadBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CompleteFileUploadUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CompleteFileUploadForbidden"
          },
          "404": {
            "$ref": "#/components/responses/CompleteFileUploadNotFound"
          },
          "406": {
            "$ref": "#/components/responses/CompleteFileUploadNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/CompleteFileUploadConflict"
          },
          "429": {
            "$ref": "#/components/responses/CompleteFileUploadTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/CompleteFileUploadInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/CompleteFileUploadServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/CompleteFileUploadGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/CompleteFileUploadTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.fileUploads.complete({\n  file_upload_id: \"a02fc1d3-db8b-45c5-a222-27595b15aea7\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/complete-file-upload",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-files-and-media",
          "https://developers.notion.com/guides/data-apis/sending-larger-files"
        ]
      }
    },
    "/file_uploads/{file_upload_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/file_upload_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "File uploads"
        ],
        "summary": "Retrieve a file upload",
        "operationId": "retrieve-file-upload",
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveFileUploadOk"
          },
          "400": {
            "$ref": "#/components/responses/RetrieveFileUploadBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RetrieveFileUploadUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RetrieveFileUploadForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RetrieveFileUploadNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RetrieveFileUploadNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RetrieveFileUploadConflict"
          },
          "429": {
            "$ref": "#/components/responses/RetrieveFileUploadTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RetrieveFileUploadInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RetrieveFileUploadServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RetrieveFileUploadGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RetrieveFileUploadTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.fileUploads.retrieve({\n  file_upload_id: \"a02fc1d3-db8b-45c5-a222-27595b15aea7\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/retrieve-file-upload",
        "x-notion-docs-guides": [
          "https://developers.notion.com/guides/data-apis/working-with-files-and-media",
          "https://developers.notion.com/guides/data-apis/retrieving-files"
        ]
      }
    },
    "/custom_emojis": {
      "parameters": [
        {
          "$ref": "#/components/parameters/start_cursor4"
        },
        {
          "$ref": "#/components/parameters/page_size4"
        },
        {
          "$ref": "#/components/parameters/name2"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Custom emojis"
        ],
        "summary": "List custom emojis",
        "operationId": "list-custom-emojis",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListCustomEmojisOk"
          },
          "400": {
            "$ref": "#/components/responses/ListCustomEmojisBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListCustomEmojisUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListCustomEmojisForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListCustomEmojisNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListCustomEmojisNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListCustomEmojisConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListCustomEmojisTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListCustomEmojisInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListCustomEmojisServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListCustomEmojisGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListCustomEmojisTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\nimport { collectPaginatedAPI } from \"@notionhq/client\"\n\nconst notion = new Client()\n\n// Single page\nconst response = await notion.customEmojis.list()\n\n// All pages with pagination helper\nconst allEmojis = await collectPaginatedAPI(\n  notion.customEmojis.list,\n  {}\n)"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/list-custom-emojis"
      }
    },
    "/views": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Views"
        ],
        "summary": "List views",
        "operationId": "list-views",
        "parameters": [
          {
            "$ref": "#/components/parameters/database_id3"
          },
          {
            "$ref": "#/components/parameters/data_source_id5"
          },
          {
            "$ref": "#/components/parameters/start_cursor4"
          },
          {
            "$ref": "#/components/parameters/page_size4"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListViewsOk"
          },
          "400": {
            "$ref": "#/components/responses/ListViewsBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListViewsUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListViewsForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListViewsNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListViewsNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListViewsConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListViewsTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListViewsInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListViewsServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListViewsGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListViewsTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.views.list({\n  database_id: \"248104cd-477e-80fd-b757-e945d38000bd\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/list-views"
      },
      "post": {
        "tags": [
          "Views"
        ],
        "summary": "Create a view",
        "operationId": "create-view",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateView"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateViewOk"
          },
          "400": {
            "$ref": "#/components/responses/CreateViewBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CreateViewUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CreateViewForbidden"
          },
          "404": {
            "$ref": "#/components/responses/CreateViewNotFound"
          },
          "406": {
            "$ref": "#/components/responses/CreateViewNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/CreateViewConflict"
          },
          "429": {
            "$ref": "#/components/responses/CreateViewTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/CreateViewInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/CreateViewServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/CreateViewGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/CreateViewTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.views.create({\n  database_id: \"248104cd-477e-80fd-b757-e945d38000bd\",\n  data_source_id: \"248104cd-477e-80af-bc30-000bd28de8f9\",\n  name: \"High priority items\",\n  type: \"table\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/create-view"
      }
    },
    "/views/{view_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Views"
        ],
        "summary": "Retrieve a view",
        "operationId": "retrieve-a-view",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveAViewOk"
          },
          "400": {
            "$ref": "#/components/responses/RetrieveAViewBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RetrieveAViewUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RetrieveAViewForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RetrieveAViewNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RetrieveAViewNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RetrieveAViewConflict"
          },
          "429": {
            "$ref": "#/components/responses/RetrieveAViewTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RetrieveAViewInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RetrieveAViewServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RetrieveAViewGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RetrieveAViewTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.views.retrieve({\n  view_id: \"a3f1b2c4-5678-4def-abcd-1234567890ab\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/retrieve-a-view"
      },
      "delete": {
        "tags": [
          "Views"
        ],
        "summary": "Delete a view",
        "operationId": "delete-view",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_id2"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteViewOk"
          },
          "400": {
            "$ref": "#/components/responses/DeleteViewBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/DeleteViewUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DeleteViewForbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeleteViewNotFound"
          },
          "406": {
            "$ref": "#/components/responses/DeleteViewNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/DeleteViewConflict"
          },
          "429": {
            "$ref": "#/components/responses/DeleteViewTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DeleteViewInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeleteViewServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/DeleteViewGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/DeleteViewTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.views.delete({\n  view_id: \"a3f1b2c4-5678-4def-abcd-1234567890ab\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/delete-view"
      },
      "patch": {
        "tags": [
          "Views"
        ],
        "summary": "Update a view",
        "operationId": "update-a-view",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateAView"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateAViewOk"
          },
          "400": {
            "$ref": "#/components/responses/UpdateAViewBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UpdateAViewUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpdateAViewForbidden"
          },
          "404": {
            "$ref": "#/components/responses/UpdateAViewNotFound"
          },
          "406": {
            "$ref": "#/components/responses/UpdateAViewNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/UpdateAViewConflict"
          },
          "429": {
            "$ref": "#/components/responses/UpdateAViewTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UpdateAViewInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/UpdateAViewServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/UpdateAViewGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/UpdateAViewTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.views.update({\n  view_id: \"a3f1b2c4-5678-4def-abcd-1234567890ab\",\n  name: \"Updated view name\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/update-a-view"
      }
    },
    "/views/{view_id}/queries": {
      "parameters": [
        {
          "$ref": "#/components/parameters/view_id4"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Views"
        ],
        "summary": "Create a view query",
        "operationId": "create-view-query",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateViewQuery"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateViewQueryOk"
          },
          "400": {
            "$ref": "#/components/responses/CreateViewQueryBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CreateViewQueryUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CreateViewQueryForbidden"
          },
          "404": {
            "$ref": "#/components/responses/CreateViewQueryNotFound"
          },
          "406": {
            "$ref": "#/components/responses/CreateViewQueryNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/CreateViewQueryConflict"
          },
          "429": {
            "$ref": "#/components/responses/CreateViewQueryTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/CreateViewQueryInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/CreateViewQueryServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/CreateViewQueryGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/CreateViewQueryTheServiceIsOverloaded"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "TypeScript SDK",
            "source": "import { Client } from \"@notionhq/client\"\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY })\n\nconst response = await notion.views.queries.create({\n  view_id: \"a3f1b2c4-5678-4def-abcd-1234567890ab\"\n})"
          }
        ],
        "x-notion-docs-ref": "https://developers.notion.com/reference/create-view-query"
      }
    },
    "/views/{view_id}/queries/{query_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Views"
        ],
        "summary": "Get view query results",
        "operationId": "get-view-query-results",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_id4"
          },
          {
            "$ref": "#/components/parameters/query_id"
          },
          {
            "$ref": "#/components/parameters/start_cursor9"
          },
          {
            "$ref": "#/components/parameters/page_size9"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetViewQueryResultsOk"
          },
          "400": {
            "$ref": "#/components/responses/GetViewQueryResultsBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/GetViewQueryResultsUnauthorized"
          },
          "403": {
[...]
