{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API",
    "description": "[Create an integration](https://www.notion.so/my-integrations) to retrieve an API token, add your database and page ID's as variables in the collection, and start making your requests!\n\nFor our full documentation, including sample integrations and guides, visit [developers.notion.com](developers.notion.com)\n\nNeed more help? Join our [developer community on Slack](https://join.slack.com/t/notiondevs/shared_invite/zt-lkrnk74h-YmPRroySRFGiqgjI193AqA/)",
    "version": "2022-06-28"
  },
  "servers": [
    {
      "url": "https://api.notion.com/v1"
    }
  ],
  "paths": {
    "/pages/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/NotionVersion"
        },
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Retrieve a Page",
        "description": "Retrieves a Page object using the ID in the request path. This endpoint exposes page properties, not page content.",
        "operationId": "GetPage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PageResponse"
          }
        }
      }
    },
    "/blocks/96245c8f-1784-44a4-82ad-1941127c3ec3/children": {
      "parameters": [
        {
          "$ref": "#/components/parameters/page_size2"
        },
        {
          "$ref": "#/components/parameters/NotionVersion"
        }
      ],
      "get": {
        "operationId": "GetBlocks96245c8f178444a482ad1941127c3ec3Children",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBlocks96245c8f178444a482ad1941127c3ec3ChildrenOkResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Annotations": {
        "description": "Style information which applies to the whole rich text object.",
        "type": "object",
        "properties": {
          "bold": {
            "description": "Whether the text is **bolded**.",
            "type": "boolean",
            "example": false
          },
          "italic": {
            "description": "Whether the text is *italicized*.",
            "type": "boolean",
            "example": false
          },
          "strikethrough": {
            "description": "Whether the text is struck through.",
            "type": "boolean",
            "example": false
          },
          "underline": {
            "description": "Whether the text is underlined.",
            "type": "boolean",
            "example": false
          },
          "code": {
            "description": "Whether the text is code `style`.",
            "type": "boolean",
            "example": false
          },
          "color": {
            "$ref": "#/components/schemas/Color"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "example": {
          "bold": false,
          "italic": false,
          "strikethrough": false,
          "underline": false,
          "code": false,
          "color": "default"
        }
      },
      "Color": {
        "description": "The color of the block.",
        "type": "string",
        "enum": [
          "default",
          "gray",
          "brown",
          "orange",
          "yellow",
          "green",
          "blue",
          "purple",
          "pink",
          "red",
          "gray_background",
          "brown_background",
          "orange_background",
          "yellow_background",
          "green_background",
          "blue_background",
          "purple_background",
          "pink_background",
          "red_background"
        ],
        "example": "default"
      },
      "ExternalFile": {
        "description": "An external file is any URL that isn't hosted by Notion.",
        "type": "object",
        "properties": {
          "url": {
            "description": "Link to the externally hosted content.",
            "type": "string",
            "format": "uri",
            "example": "https://www.notion.so/images/page-cover/nasa_space_shuttle_columbia_and_sunrise.jpg"
          }
        },
        "required": [
          "url"
        ],
        "example": {
          "url": "https://www.notion.so/images/page-cover/nasa_space_shuttle_columbia_and_sunrise.jpg"
        }
      },
      "File": {
        "description": "File objects contain data about files uploaded to Notion as well as external files linked in Notion.",
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FileType"
          },
          "external": {
            "$ref": "#/components/schemas/ExternalFile"
          }
        },
        "required": [
          "type"
        ],
        "example": {
          "type": "external",
          "external": {
            "url": "https://www.notion.so/images/page-cover/nasa_space_shuttle_columbia_and_sunrise.jpg"
          }
        }
      },
      "FileType": {
        "description": "Type of this file object.",
        "type": "string",
        "enum": [
          "file",
          "external"
        ],
        "example": "external"
      },
      "GetBlocks96245c8f178444a482ad1941127c3ec3ChildrenOkJSONResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "results": {
            "$ref": "#/components/schemas/GetBlocks96245c8f178444a482ad1941127c3ec3ChildrenOkJSONResponseResults"
          },
          "next_cursor": {
            "type": "object"
          },
          "has_more": {
            "type": "boolean",
            "example": false
          },
          "type": {
            "type": "string",
            "example": "block"
          },
          "block": {
            "type": "object"
          },
          "request_id": {
            "type": "string",
            "format": "uuid",
            "example": "4fb32baa-18fe-4627-b7db-96292000775f"
          }
        },
        "required": [
          "object",
          "results",
          "next_cursor",
          "has_more",
          "type",
          "block",
          "request_id"
        ],
        "example": {
          "object": "list",
          "results": [
            {
              "object": "block",
              "id": "dad588e3-83ec-430a-bcd3-3cc5dc37d7e9",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T05:31:00.000Z",
              "last_edited_time": "2022-07-14T05:33:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "8fe3dd1a-c8d8-47ff-b2fb-70b0269c4e9f",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T05:32:00.000Z",
              "last_edited_time": "2022-07-14T05:33:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "This is a simple paragraph.",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "This is a simple paragraph.",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "bb9ff6f9-c230-4688-b15c-15a6648e1c8a",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T05:33:00.000Z",
              "last_edited_time": "2022-07-14T05:34:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "This is a red paragraph.",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "red"
                    },
                    "plain_text": "This is a red paragraph.",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "7f7a2665-50a6-4a33-9ee7-33a93dd3cbd0",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T05:33:00.000Z",
              "last_edited_time": "2022-07-14T05:34:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "This ",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "This ",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "word",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "red"
                    },
                    "plain_text": "word",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": " is red.",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": " is red.",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "80a66dc8-9dab-4e7b-8332-99775aedc559",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:44:00.000Z",
              "last_edited_time": "2022-07-14T17:45:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "This is ",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "This is ",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "blue",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "blue"
                    },
                    "plain_text": "blue",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": " but the entire paragraph is yellow.",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": " but the entire paragraph is yellow.",
                    "href": null
                  }
                ],
                "color": "yellow"
              }
            },
            {
              "object": "block",
              "id": "edea19f8-ad2f-4c18-b774-35d64ebcdac3",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:45:00.000Z",
              "last_edited_time": "2022-07-14T17:46:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "Red on yellow.",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "red"
                    },
                    "plain_text": "Red on yellow.",
                    "href": null
                  }
                ],
                "color": "yellow_background"
              }
            },
            {
              "object": "block",
              "id": "d384b38c-604e-42a2-a65c-0b6cfc6a7932",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T05:34:00.000Z",
              "last_edited_time": "2022-07-14T05:35:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "This",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": true,
                      "strikethrough": false,
                      "underline": true,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "This",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": " ",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": true,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": " ",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "paragraph",
                      "link": null
                    },
                    "annotations": {
                      "bold": true,
                      "italic": false,
                      "strikethrough": false,
                      "underline": true,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "paragraph",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": " ",
                      "link": null
                    },
                    "annotations": {
                      "bold": true,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": " ",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "has",
                      "link": null
                    },
                    "annotations": {
                      "bold": true,
                      "italic": true,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "has",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": " ",
                      "link": null
                    },
                    "annotations": {
                      "bold": true,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": " ",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "some",
                      "link": null
                    },
                    "annotations": {
                      "bold": true,
                      "italic": false,
                      "strikethrough": true,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "some",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": " ",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": true,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": " ",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "formatting",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": true,
                      "underline": false,
                      "code": true,
                      "color": "default"
                    },
                    "plain_text": "formatting",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": ".",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": ".",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "84b218cd-fdf8-44c1-8f5e-6f926026b21a",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:47:00.000Z",
              "last_edited_time": "2022-07-14T17:48:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "This link to Google.",
                      "link": {
                        "url": "https://www.google.com/"
                      }
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "This link to Google.",
                    "href": "https://www.google.com/"
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "c1c9255f-f1f3-40fb-9bbd-10e80e5e6886",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T05:34:00.000Z",
              "last_edited_time": "2022-07-14T17:43:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": true,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "This paragraph",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "This paragraph",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "80687e03-c8fa-4c9a-a807-2ec66b056d44",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:43:00.000Z",
              "last_edited_time": "2022-07-14T17:46:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "heading_1",
              "heading_1": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "This ",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "This ",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "is",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": true,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "purple"
                    },
                    "plain_text": "is",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": " a big ",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "purple"
                    },
                    "plain_text": " a big ",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "heading",
                      "link": null
                    },
                    "annotations": {
                      "bold": true,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "purple"
                    },
                    "plain_text": "heading",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": " 1",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": " 1",
                    "href": null
                  }
                ],
                "is_toggleable": false,
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "d05aa478-397e-4954-b694-b7c1c6c78956",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:46:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": true,
              "archived": false,
              "in_trash": false,
              "type": "heading_2",
              "heading_2": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "Medium toggle heading ",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "Medium toggle heading ",
                    "href": null
                  }
                ],
                "is_toggleable": true,
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "b7950ba9-e8a0-4b2f-a069-5cafcd6ed6ad",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:46:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "heading_3",
              "heading_3": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "Small heading",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "Small heading",
                    "href": null
                  }
                ],
                "is_toggleable": false,
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "0377f15d-c60f-4643-87b9-467e4814fe46",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:49:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "callout",
              "callout": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "Callout with a fire emoji.",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "Callout with a fire emoji.",
                    "href": null
                  }
                ],
                "icon": {
                  "type": "emoji",
                  "emoji": "🔥"
                },
                "color": "gray_background"
              }
            },
            {
              "object": "block",
              "id": "12a1a2cc-9ce7-414e-9fd3-db016419174c",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:49:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": true,
              "archived": false,
              "in_trash": false,
              "type": "callout",
              "callout": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "Orange callout with a custom melting face.",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "Orange callout with a custom melting face.",
                    "href": null
                  }
                ],
                "icon": {
                  "type": "external",
                  "external": {
                    "url": "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/325/melting-face_1fae0.png"
                  }
                },
                "color": "orange"
              }
            },
            {
              "object": "block",
              "id": "3b4d96f0-a5e2-4e47-90eb-dbc3f95f936d",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:52:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "callout",
              "callout": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "Callout with uploaded sparkles.",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "Callout with uploaded sparkles.",
                    "href": null
                  }
                ],
                "icon": {
                  "type": "file",
                  "file": {
                    "url": "https://prod-files-secure.s3.us-west-2.amazonaws.com/0bbd5b1f-358c-4cdc-9cb6-ed497d79f10a/30d8226f-1494-40f3-898c-4683f6e14a38/sparkles_2728.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XIAECK6E%2F20250131%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250131T112521Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIQD4UujnejYRkyMDGRuKJbIgo5p1h2yzfv8bb%2BFetXwqqwIgXdwatek%2F8VGbJo48DI2wRajJa6VapXYOw1%2BAXGx%2Fq4gqiAQIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mzc0MjMxODM4MDUiDOcsW2%2BPFn5bTbwpjyrcAxOkcesJhzQt06sOaWRNNrpwpNU5VK9v4YJF1P%2B1yQYTGw0L7WurWmW9Z76FTMmoAtrx4D7aMXBpwhTc%2BSw8iEetOwHs9NS%2F%2BPfnPay8JwYr%2F6Ck86H%2FWWVHEdHOqd0b%2Bi5%2FA8olnEDSgWKvM%2B9R618YTMT9UfSmfufVfN9DXXExMIwaI96W8tL2TFJEfbcXAkTlbPWoK4CFyC7fCi7wum7ixTdWKja%2BNpeuETsKXMMlzFgt0oHhDZpJG7Md869uQIZq%2Fv88G5VMqvlQJMZrFH9RMCqrspRRozS%2Fpd9EMa8JyhTaVV1f2viZ8o1v%2FICgPRbXW0L6B7Ty3BPcDq1Cx%2FrKltMy%2B4XDVrKum663pCaxcwhVE37QO6BFIoub4GuFStUQvATrzaNw0oMcFfVLw9JSpAS8h4B3NrwN%2BqPcUKrAKt8cb3TL8%2BHdSzhpyt3o4G2PXEvk%2FVzcVZTi4BzFnBlC%2BFRTEFnw4zT5N%2BrVmJj3s52bv%2FLFOvRnMyyIHDIqXMdWx9UuG6JNR22sYvN3FfvvLx4eIL33lf2eX1xlRi0ft9mjVMQqsNK%2BkkxiwmJKx04QtQRiC0HB%2F3M8kUrnY9ZpExf%2B9ke%2FFRio7xSwkwKCQI%2B4%2B0iAqMtfxIQiMNrW8rwGOqUBbMh4hPgk22nna%2Bi0YlyK54yZTYRc4k%2FLIAsRBXy%2F5PyOO8TzG3JOxFTsG11OjA6JLidms71TrIU22tv0GO5Qe38qP2DEPhZYUPJb7iwW4HMaOwwOxaeDmXgDoRfCskg93uQB52QNEWnweYkAIYXs5n97H5dM3p35Je3KBiv1PY6H6YjeY6Y%2FvPi%2Fsj6uB8lPCYnDIhptx7BVnxgyiAYknXNiSgUx&X-Amz-Signature=c8a38195c95c7b79c97792d593c9f2ff52cfd5285ad4ba85c536a29d87ef9a9f&X-Amz-SignedHeaders=host&x-id=GetObject",
                    "expiry_time": "2025-01-31T12:25:21.225Z"
                  }
                },
                "color": "gray_background"
              }
            },
            {
              "object": "block",
              "id": "7e4b229d-b2eb-45df-b272-a07f88b7722e",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:54:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "quote",
              "quote": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": " “The problem with ",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": " “The problem with ",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "internet",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": true,
                      "color": "default"
                    },
                    "plain_text": "internet",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": " quotes is that you cannot always depend on their accuracy.” — Abraham Lincoln, 1864",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": " quotes is that you cannot always depend on their accuracy.” — Abraham Lincoln, 1864",
                    "href": null
                  }
                ],
                "color": "green"
              }
            },
            {
              "object": "block",
              "id": "2503b13d-2eda-4f95-af02-785522aa7bb7",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:32:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": true,
              "archived": false,
              "in_trash": false,
              "type": "synced_block",
              "synced_block": {
                "synced_from": {
                  "type": "block_id",
                  "block_id": "0960b64c-81c9-4f19-a873-e8072b083a40"
                }
              }
            },
            {
              "object": "block",
              "id": "d0827327-11cf-4ada-98a3-3b07361cd38b",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:32:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "111ff69f-1d43-448e-aa4c-881b3524ec86",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:55:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "numbered_list_item",
              "numbered_list_item": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "Collect underpants.",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "Collect underpants.",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "a3663617-fef0-4254-8567-8265a5cf7564",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:57:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "numbered_list_item",
              "numbered_list_item": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "???",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "???",
                    "href": null
                  }
                ],
                "color": "red_background"
              }
            },
            {
              "object": "block",
              "id": "71b8d554-4bb0-4257-955d-191369cc9257",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:57:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "numbered_list_item",
              "numbered_list_item": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "Profit.",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "Profit.",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "3a084cf3-fec9-4fbe-bd7e-a09005ce0a72",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:57:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "bulleted_list_item",
              "bulleted_list_item": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "foo",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "foo",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "c29edb55-afa1-4461-8efa-4a07aa606a75",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:59:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": true,
              "archived": false,
              "in_trash": false,
              "type": "bulleted_list_item",
              "bulleted_list_item": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "bar",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "bar",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "c6f97c93-07eb-4ba7-8850-1ec8a6952adc",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-30T11:16:00.000Z",
              "last_edited_time": "2024-10-12T21:31:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "numbered_list_item",
              "numbered_list_item": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "another list",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "another list",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "347f299a-1b65-44a1-b4c0-dcb8442282c0",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-30T11:16:00.000Z",
              "last_edited_time": "2024-10-12T21:31:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "numbered_list_item",
              "numbered_list_item": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "two",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "two",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "f44eab3e-616c-4700-84dd-75678c8d758a",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-30T11:16:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "bulleted_list_item",
              "bulleted_list_item": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "bullet",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "bullet",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "040a6890-08ea-43d2-8cfd-2b74a1a59aa7",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-30T11:16:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "bulleted_list_item",
              "bulleted_list_item": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "another bullet",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "another bullet",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "e9058c70-837e-4fb6-afa7-756e6750430a",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-30T11:16:00.000Z",
              "last_edited_time": "2024-10-12T21:31:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "numbered_list_item",
              "numbered_list_item": {
                "rich_text": [],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "35c85589-abca-4b5a-8581-4f63492475bb",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:59:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "to_do",
              "to_do": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "finish this document",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "finish this document",
                    "href": null
                  }
                ],
                "checked": false,
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "de4e9f15-0bbf-4560-8537-50317060437a",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T17:59:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "to_do",
              "to_do": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "take a long vacation",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "take a long vacation",
                    "href": null
                  }
                ],
                "checked": true,
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "ab902eb8-638c-4c1b-a65c-d6dc9e4e8925",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:00:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": true,
              "archived": false,
              "in_trash": false,
              "type": "toggle",
              "toggle": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "Toggle",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "Toggle",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "a610b904-c43a-4105-9886-71918e86ad92",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:01:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "code",
              "code": {
                "caption": [
                  {
                    "type": "text",
                    "text": {
                      "content": "It even has a caption!",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "It even has a caption!",
                    "href": null
                  }
                ],
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "func main() {\n\t",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "func main() {\n\t",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "startNotion",
                      "link": {
                        "url": "https://developers.notion.com/reference/block"
                      }
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "startNotion",
                    "href": "https://developers.notion.com/reference/block"
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "()\n}",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "()\n}",
                    "href": null
                  }
                ],
                "language": "go"
              }
            },
            {
              "object": "block",
              "id": "2633808e-7e36-4f4e-972a-ccd2d3c49004",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:03:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": true,
              "archived": false,
              "in_trash": false,
              "type": "child_page",
              "child_page": {
                "title": "My child page"
              }
            },
            {
              "object": "block",
              "id": "7a3c647e-4c1e-4c27-bf1d-cfb0105e55ce",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:03:00.000Z",
              "last_edited_time": "2022-10-10T22:53:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "child_database",
              "child_database": {
                "title": "My Child Database"
              }
            },
            {
              "object": "block",
              "id": "40a8cb72-ab5c-42f7-aa4a-f5400ffe7178",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:05:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "embed",
              "embed": {
                "caption": [],
                "url": "https://twitter.com/elonmusk/status/1519480761749016577"
              }
            },
            {
              "object": "block",
              "id": "86cd42aa-ade6-4419-893d-964e28e14f74",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:05:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "embed",
              "embed": {
                "caption": [
                  {
                    "type": "text",
                    "text": {
                      "content": "A ",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "A ",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "great",
                      "link": null
                    },
                    "annotations": {
                      "bold": true,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "great",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": " German city!",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": " German city!",
                    "href": null
                  }
                ],
                "url": "https://www.google.com/maps/place/Berlin,+Germany/@52.5068441,13.4247317,10z/data=!3m1!4b1!4m5!3m4!1s0x47a84e373f035901:0x42120465b5e3b70!8m2!3d52.5200066!4d13.404954"
              }
            },
            {
              "object": "block",
              "id": "f56731fc-6ea1-4240-b652-cb78346260b6",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:06:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "embed",
              "embed": {
                "caption": [
                  {
                    "type": "text",
                    "text": {
                      "content": "This is an ",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "This is an ",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "example",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": true,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "example",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": " codepen.",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": " codepen.",
                    "href": null
                  }
                ],
                "url": "https://codepen.io/rcyou/pen/QEObEZ"
              }
            },
            {
              "object": "block",
              "id": "d6d7291f-eacf-4905-a6d6-3dc988017437",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:07:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "pdf",
              "pdf": {
                "caption": [
                  {
                    "type": "text",
                    "text": {
                      "content": "This is the whitepaper introducing ",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "This is the whitepaper introducing ",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "bitcoin",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "yellow"
                    },
                    "plain_text": "bitcoin",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": ".",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": ".",
                    "href": null
                  }
                ],
                "type": "external",
                "external": {
                  "url": "https://bitcoin.org/bitcoin.pdf"
                }
              }
            },
            {
              "object": "block",
              "id": "4baa0e44-fc5a-4982-a7ee-fcfae459bdab",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:09:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "pdf",
              "pdf": {
                "caption": [
                  {
                    "type": "text",
                    "text": {
                      "content": "Same PDF but ",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "Same PDF but ",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": "uploaded",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": true,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "uploaded",
                    "href": null
                  },
                  {
                    "type": "text",
                    "text": {
                      "content": ".",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": ".",
                    "href": null
                  }
                ],
                "type": "file",
                "file": {
                  "url": "https://prod-files-secure.s3.us-west-2.amazonaws.com/0bbd5b1f-358c-4cdc-9cb6-ed497d79f10a/69893027-1bf7-4177-a7b8-06a53dc4d1a6/bitcoin.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XIAECK6E%2F20250131%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250131T112521Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIQD4UujnejYRkyMDGRuKJbIgo5p1h2yzfv8bb%2BFetXwqqwIgXdwatek%2F8VGbJo48DI2wRajJa6VapXYOw1%2BAXGx%2Fq4gqiAQIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mzc0MjMxODM4MDUiDOcsW2%2BPFn5bTbwpjyrcAxOkcesJhzQt06sOaWRNNrpwpNU5VK9v4YJF1P%2B1yQYTGw0L7WurWmW9Z76FTMmoAtrx4D7aMXBpwhTc%2BSw8iEetOwHs9NS%2F%2BPfnPay8JwYr%2F6Ck86H%2FWWVHEdHOqd0b%2Bi5%2FA8olnEDSgWKvM%2B9R618YTMT9UfSmfufVfN9DXXExMIwaI96W8tL2TFJEfbcXAkTlbPWoK4CFyC7fCi7wum7ixTdWKja%2BNpeuETsKXMMlzFgt0oHhDZpJG7Md869uQIZq%2Fv88G5VMqvlQJMZrFH9RMCqrspRRozS%2Fpd9EMa8JyhTaVV1f2viZ8o1v%2FICgPRbXW0L6B7Ty3BPcDq1Cx%2FrKltMy%2B4XDVrKum663pCaxcwhVE37QO6BFIoub4GuFStUQvATrzaNw0oMcFfVLw9JSpAS8h4B3NrwN%2BqPcUKrAKt8cb3TL8%2BHdSzhpyt3o4G2PXEvk%2FVzcVZTi4BzFnBlC%2BFRTEFnw4zT5N%2BrVmJj3s52bv%2FLFOvRnMyyIHDIqXMdWx9UuG6JNR22sYvN3FfvvLx4eIL33lf2eX1xlRi0ft9mjVMQqsNK%2BkkxiwmJKx04QtQRiC0HB%2F3M8kUrnY9ZpExf%2B9ke%2FFRio7xSwkwKCQI%2B4%2B0iAqMtfxIQiMNrW8rwGOqUBbMh4hPgk22nna%2Bi0YlyK54yZTYRc4k%2FLIAsRBXy%2F5PyOO8TzG3JOxFTsG11OjA6JLidms71TrIU22tv0GO5Qe38qP2DEPhZYUPJb7iwW4HMaOwwOxaeDmXgDoRfCskg93uQB52QNEWnweYkAIYXs5n97H5dM3p35Je3KBiv1PY6H6YjeY6Y%2FvPi%2Fsj6uB8lPCYnDIhptx7BVnxgyiAYknXNiSgUx&X-Amz-Signature=5afedf0cffcd6f4a6e827b84330d8bc0cd4b98bd2befa4917197ca2943cbc57d&X-Amz-SignedHeaders=host&x-id=GetObject",
                  "expiry_time": "2025-01-31T12:25:21.208Z"
                }
              }
            },
            {
              "object": "block",
              "id": "180df4ec-bdf2-4f2c-a489-9aefec8a400d",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:17:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "f7bcdc51-3dc1-41c2-926b-fd2d2ec9b581",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:15:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": true,
              "archived": false,
              "in_trash": false,
              "type": "column_list",
              "column_list": {}
            },
            {
              "object": "block",
              "id": "a95ecf46-05b6-4dc1-bc61-b79651767c75",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:14:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "video",
              "video": {
                "caption": [],
                "type": "file",
                "file": {
                  "url": "https://prod-files-secure.s3.us-west-2.amazonaws.com/0bbd5b1f-358c-4cdc-9cb6-ed497d79f10a/1162837c-64dd-401a-aa1d-91f795079052/small.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XIAECK6E%2F20250131%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250131T112521Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIQD4UujnejYRkyMDGRuKJbIgo5p1h2yzfv8bb%2BFetXwqqwIgXdwatek%2F8VGbJo48DI2wRajJa6VapXYOw1%2BAXGx%2Fq4gqiAQIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mzc0MjMxODM4MDUiDOcsW2%2BPFn5bTbwpjyrcAxOkcesJhzQt06sOaWRNNrpwpNU5VK9v4YJF1P%2B1yQYTGw0L7WurWmW9Z76FTMmoAtrx4D7aMXBpwhTc%2BSw8iEetOwHs9NS%2F%2BPfnPay8JwYr%2F6Ck86H%2FWWVHEdHOqd0b%2Bi5%2FA8olnEDSgWKvM%2B9R618YTMT9UfSmfufVfN9DXXExMIwaI96W8tL2TFJEfbcXAkTlbPWoK4CFyC7fCi7wum7ixTdWKja%2BNpeuETsKXMMlzFgt0oHhDZpJG7Md869uQIZq%2Fv88G5VMqvlQJMZrFH9RMCqrspRRozS%2Fpd9EMa8JyhTaVV1f2viZ8o1v%2FICgPRbXW0L6B7Ty3BPcDq1Cx%2FrKltMy%2B4XDVrKum663pCaxcwhVE37QO6BFIoub4GuFStUQvATrzaNw0oMcFfVLw9JSpAS8h4B3NrwN%2BqPcUKrAKt8cb3TL8%2BHdSzhpyt3o4G2PXEvk%2FVzcVZTi4BzFnBlC%2BFRTEFnw4zT5N%2BrVmJj3s52bv%2FLFOvRnMyyIHDIqXMdWx9UuG6JNR22sYvN3FfvvLx4eIL33lf2eX1xlRi0ft9mjVMQqsNK%2BkkxiwmJKx04QtQRiC0HB%2F3M8kUrnY9ZpExf%2B9ke%2FFRio7xSwkwKCQI%2B4%2B0iAqMtfxIQiMNrW8rwGOqUBbMh4hPgk22nna%2Bi0YlyK54yZTYRc4k%2FLIAsRBXy%2F5PyOO8TzG3JOxFTsG11OjA6JLidms71TrIU22tv0GO5Qe38qP2DEPhZYUPJb7iwW4HMaOwwOxaeDmXgDoRfCskg93uQB52QNEWnweYkAIYXs5n97H5dM3p35Je3KBiv1PY6H6YjeY6Y%2FvPi%2Fsj6uB8lPCYnDIhptx7BVnxgyiAYknXNiSgUx&X-Amz-Signature=fedff21b145ef075388d4715f53fc703181c85c2328ed42ea712c3523d3f136a&X-Amz-SignedHeaders=host&x-id=GetObject",
                  "expiry_time": "2025-01-31T12:25:21.209Z"
                }
              }
            },
            {
              "object": "block",
              "id": "a8c6fefe-6920-410c-8082-d45364aeab95",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:16:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "The same astronomical image as above but as a file:",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "The same astronomical image as above but as a file:",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "5f71213c-f1cc-4eb9-8c98-855332ca46ad",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:15:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "file",
              "file": {
                "caption": [],
                "type": "file",
                "file": {
                  "url": "https://prod-files-secure.s3.us-west-2.amazonaws.com/0bbd5b1f-358c-4cdc-9cb6-ed497d79f10a/5960876f-0eff-473b-9e62-0714480008bd/hd-wallpaper-g6e0a7c1ce_1920.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466XIAECK6E%2F20250131%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250131T112521Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIQD4UujnejYRkyMDGRuKJbIgo5p1h2yzfv8bb%2BFetXwqqwIgXdwatek%2F8VGbJo48DI2wRajJa6VapXYOw1%2BAXGx%2Fq4gqiAQIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mzc0MjMxODM4MDUiDOcsW2%2BPFn5bTbwpjyrcAxOkcesJhzQt06sOaWRNNrpwpNU5VK9v4YJF1P%2B1yQYTGw0L7WurWmW9Z76FTMmoAtrx4D7aMXBpwhTc%2BSw8iEetOwHs9NS%2F%2BPfnPay8JwYr%2F6Ck86H%2FWWVHEdHOqd0b%2Bi5%2FA8olnEDSgWKvM%2B9R618YTMT9UfSmfufVfN9DXXExMIwaI96W8tL2TFJEfbcXAkTlbPWoK4CFyC7fCi7wum7ixTdWKja%2BNpeuETsKXMMlzFgt0oHhDZpJG7Md869uQIZq%2Fv88G5VMqvlQJMZrFH9RMCqrspRRozS%2Fpd9EMa8JyhTaVV1f2viZ8o1v%2FICgPRbXW0L6B7Ty3BPcDq1Cx%2FrKltMy%2B4XDVrKum663pCaxcwhVE37QO6BFIoub4GuFStUQvATrzaNw0oMcFfVLw9JSpAS8h4B3NrwN%2BqPcUKrAKt8cb3TL8%2BHdSzhpyt3o4G2PXEvk%2FVzcVZTi4BzFnBlC%2BFRTEFnw4zT5N%2BrVmJj3s52bv%2FLFOvRnMyyIHDIqXMdWx9UuG6JNR22sYvN3FfvvLx4eIL33lf2eX1xlRi0ft9mjVMQqsNK%2BkkxiwmJKx04QtQRiC0HB%2F3M8kUrnY9ZpExf%2B9ke%2FFRio7xSwkwKCQI%2B4%2B0iAqMtfxIQiMNrW8rwGOqUBbMh4hPgk22nna%2Bi0YlyK54yZTYRc4k%2FLIAsRBXy%2F5PyOO8TzG3JOxFTsG11OjA6JLidms71TrIU22tv0GO5Qe38qP2DEPhZYUPJb7iwW4HMaOwwOxaeDmXgDoRfCskg93uQB52QNEWnweYkAIYXs5n97H5dM3p35Je3KBiv1PY6H6YjeY6Y%2FvPi%2Fsj6uB8lPCYnDIhptx7BVnxgyiAYknXNiSgUx&X-Amz-Signature=1d2436a210ef0bea467a9da7f7f3e8194697e3258860fab17334fdd849152520&X-Amz-SignedHeaders=host&x-id=GetObject",
                  "expiry_time": "2025-01-31T12:25:21.226Z"
                },
                "name": "hd-wallpaper-g6e0a7c1ce_1920.jpeg"
              }
            },
            {
              "object": "block",
              "id": "f435a9bc-ec00-44de-82b9-d1ce933ee623",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2022-07-14T18:17:00.000Z",
              "last_edited_time": "2022-10-08T21:16:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "bookmark",
              "bookmark": {
                "caption": [
                  {
                    "type": "text",
                    "text": {
                      "content": "A bookmark object.",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "A bookmark object.",
                    "href": null
                  }
                ],
                "url": "https://example.com/"
              }
            },
            {
              "object": "block",
              "id": "11a88fcd-daf4-80ad-97dc-e821411ba587",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2024-10-09T14:17:00.000Z",
              "last_edited_time": "2024-10-09T14:17:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "11a88fcd-daf4-80f8-b10e-e3142d239663",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2024-10-09T14:17:00.000Z",
              "last_edited_time": "2024-10-09T14:17:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [
                  {
                    "type": "text",
                    "text": {
                      "content": "A mention:",
                      "link": null
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "A mention:",
                    "href": null
                  }
                ],
                "color": "default"
              }
            },
            {
              "object": "block",
              "id": "11a88fcd-daf4-8012-a22b-ea2199fd704b",
              "parent": {
                "type": "page_id",
                "page_id": "96245c8f-1784-44a4-82ad-1941127c3ec3"
              },
              "created_time": "2024-10-09T14:17:00.000Z",
              "last_edited_time": "2024-10-09T14:17:00.000Z",
              "created_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "last_edited_by": {
                "object": "user",
                "id": "af171d5d-c36f-45bc-a0a3-6086c0dafa45"
              },
              "has_children": false,
              "archived": false,
              "in_trash": false,
              "type": "paragraph",
              "paragraph": {
                "rich_text": [
                  {
                    "type": "mention",
                    "mention": {
                      "type": "link_mention",
                      "link_mention": {
                        "href": "https://example.com/",
                        "title": "Example Domain",
                        "description": "This domain is for use in illustrative examples in documents. You may use this\n    domain in literature without prior coordination or asking for permission."
                      }
                    },
                    "annotations": {
                      "bold": false,
                      "italic": false,
                      "strikethrough": false,
                      "underline": false,
                      "code": false,
                      "color": "default"
                    },
                    "plain_text": "https://example.com/",
                    "href": "https://example.com/"
                  }
                ],
                "color": "default"
              }
            },
[...]
